<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.greenplatform.dao.owerMapper.OwerTGreenGoldDzhzMapper" >
  <select id="selectSumGoldDzhz" resultType="java.lang.Integer">
    SELECT IFNULL(SUM(T.N_DZZL), 0) Ndzhz
      FROM t_green_gold_dzhz T
     WHERE T.c_zt='1';
  </select>

    <select id="selectGreenGoldDzhzRank" resultType="java.util.HashMap">
        SELECT
            a.n_dzzl nDzzl,
            b.c_username cUsername,
            b.c_loginname cLoginname,
            a.c_userid cUserid
        FROM
            t_green_gold_dzhz a,
            plate_user b
        WHERE
            a.c_userid = b.c_userid
     ORDER BY a.n_dzzl DESC ,b.c_username
        LIMIT 0,10
    </select>
</mapper>