<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>物管通后台管理系统</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/css/uniform.css" />
  <link rel="stylesheet" href="/css/select2.css" />
  <link rel="stylesheet" href="/css/matrix-style.css" />
  <link rel="stylesheet" href="/css/matrix-media.css" />
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
  <style>
    #content{
      min-height: 83%;
    }
    .container-fluid{
      padding-right: 0px;
    }
  </style>
</head>
<body>

<form action="/Plate/getMenu" method="post"></form>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">MatAdmin</a></h1>
</div>
<!--close-Header-part-->
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">欢迎Admin</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> 我的资料</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-check"></i> 我的任务</a></li>
        <li class="divider"></li>
        <li><a href="login.html"><i class="icon-key"></i> 退出</a></li>
      </ul>
    </li>
    <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">消息</span> <span class="label label-important">5</span> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> 新消息</a></li>
        <li class="divider"></li>
        <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> 收件箱</a></li>
        <li class="divider"></li>
        <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> 发件箱</a></li>
        <li class="divider"></li>
        <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> 发送</a></li>
      </ul>
    </li>
    <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">设置</span></a></li>
    <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
  </ul>
</div>


<!--sidebar-menu-->

<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
  <ul>
    <li class="active"> <a href="#"  data-targetUrl="property_mag.html" class="first-level"><i class="icon icon-th-list"></i> <span th:text="${PublicUser}">物业管理</span> </a></li>
    <li><a href="#" class="first-level" data-targetUrl="dept_mag.html"><i class="icon icon-magnet"></i> <span>项目部管理</span> </a></li>
    <li><a href="#" class="first-level" data-targetUrl="msg_mag.html"><i class="icon icon-bell"></i> <span>消息发布</span> </a></li>
    <li><a href="#" class="first-level" data-targetUrl="dept_mag.html"><i class="icon icon-asterisk"></i> <span>设备设施管理</span> </a></li>
    <li><a href="#" class="first-level" data-targetUrl="role_mag.html"><i class="icon icon-signal"></i> <span>角色管理</span></a> </li>
    <li><a href="#" class="first-level" data-targetUrl="power_mag.html"><i class="icon icon-inbox"></i> <span>权限管理</span></a> </li>
    <li><a href="#" class="first-level" data-targetUrl="system_mag.html"><i class="icon icon-th"></i> <span>系统参数</span></a></li>
    <li><a href="#" class="first-level" data-targetUrl="code_mag.html"><i class="icon icon-fullscreen"></i> <span>基础代码</span></a></li>
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 物管通</a> <a href="#" class="current">物业管理</a> </div>
  </div>
  <div class="container-fluid">
    <iframe id="iframe-page-content" src="property_mag.html" width="100%" height="100%" frameborder="0" ></iframe>
  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></div>
</div>
<!--end-Footer-part-->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.custom.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.uniform.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/matrix.js"></script>
<script src="/js/matrix.tables.js"></script>
<script src="/js/layer/layer.js"></script>
<script src="/js/MdiWindow.js"></script>

<script>
  $(".first-level").click(function(){
    $(".first-level").parent().removeClass("active");
    $(this).parent().addClass("active");
    $(".current").html($(this).find("span").html());//路径
  });

  //打开内容区
  var height=$("#content").height()-38;

  $('#iframe-page-content').css("height",height+'px');

  /*$("#sidebar a").click(function(){
    $("#iframe-page-content").attr("src",$(this).attr("data-targetUrl"));
  });*/


</script>
</body>
</html>
