<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>物管通-登陆</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/css/matrix-login.css" />
  <link rel="stylesheet" href="/css/bootstrap-dialog.min.css" />
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
<div id="loginbox">
  <form id="loginform" class="form-vertical" action="/Login/login" method="post">
    <div class="control-group normal_text"> <h3><img src="/images/logo.png" alt="Logo" /></h3></div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on bg_lg"><i class="icon-phone-sign"></i></span><input name="phone" id="phone" type="text" placeholder="用户名/手机号码" />
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on bg_ly"><i class="icon-lock"></i></span><input id="password" name="password" type="password" placeholder="登陆密码" />
        </div>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success btn-lg btn-block">登陆</button>
    </div>
  </form>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/matrix.login.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-dialog.min.js"></script>

</body>

</html>
