<!doctype html>
<html lang="ch" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- bootstrap & fontawesome -->
  <link rel="stylesheet" href="/publicFrame/aceAdmin/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/publicFrame/aceAdmin/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
</head>
<body>


<div th:insert="~{commonTemplates/menuTree :: row(${userMenuList},1)}"></div>
</body>
</html>