<!doctype html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>平台用户实名制</title>

    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap-dialog.css">
    <link rel="stylesheet" href="/style/web/certification.css">
</head>
<body>
<header class="loginHeader">
    <div class="loginBox">
        <div class="login-title">
            <h2>用户实名制</h2>
        </div>
        <div class="login-content" id="dataForm">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <input type="text" class="form-control input-lg" id="cUsername" name="cUsername" placeholder="请输入姓名">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <input type="text" class="form-control input-lg" id="cPhone" name="cPhone" placeholder="请输入手机号码">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <input type="text" class="form-control input-lg" id="cZjhm" name="cZjhm" placeholder="请输入身份证号">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button id="btnCertification" >确认</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button id="btnReturnHome" >返回</button>
                </div>
            </div>

        </div>

    </div>
</header>

<script src="/publicFrame/jquery/jquery-3.4.0.min.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap-dialog.js"></script>
<script src="/publicJs/SendRequest.js"></script>
<script src="/js/web/certification.js"></script>
</body>
</html>