html,body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.indexHeader{
    width: 100%;
    height: 9%;
}
.banner-bak{
    width: 100%;
    height: 91%;
    overflow: hidden;
}
#carousel-example-generic,.carousel-inner,.item{
    position: relative;
    width: 100%;
    height: 100%;
}
/*轮播图片*/
.banner-bak .item>img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
}
#carright,#carleft{
    display: none;
}
/*任务，植物，攻略的父元素*/
.carousel-caption{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content:space-between;
}
#method img{
    width: 80px;
    height: 80px;
}
/*三个任务begin*/
.mission{
    margin-right: 10px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.mission-js,.mission-sf,.mission-yg{
    width: 80px;
    height: 80px;
}
.mission img[class='center-block']{
    width: 100%;
    height: 100%;
    background-position: center;
    border:2px solid;
    border-radius: 50%;
    padding:10px;
}
#js{
    border-color: #2b542c;
    background: #ffffff;
}
#sf{
    border-color: #8a6d3b;
    background: #c0a16b;
}
#yg{
    border-color: #e38d13;
    background: #f1586a;
}
/*三个任务end*/
/*植物形态begin*/
.tree{
    align-self:flex-end;
}
.tree img{
    width: 350px;
    height: 350px;
}





/*logo*/
.logo{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 5px;
    margin-top: -10px;
}
.loginHeader{
    height:100%;
}
#smallTitle{
    font-family: 方正舒体;
    background: #3e8f3e;
    padding: 3px 8px;
    font-size: 14px;
    margin-left: 105px;
    border-radius: 5px;
    color: #ffffff;
}
#brandTitle{
    font-weight: bold;
    position: absolute;
    top: 3px;
    left: 60px;
    height: 44px;
    line-height: 28px;
    font-size: 18px;
    float: left;
    padding-right: 5px;
    border-right: 1px solid #555555;
    margin: 0;
    letter-spacing: 5px;
}
#brandSubttle{
    font-weight: normal;
    font-size: 12px;
    letter-spacing: normal;
    display: block;
    margin-top: -5px;
}
#navbarBrand{
    position: relative;
}
/*logo end*/




/*终端尺寸适配*/
@media screen and (max-width: 600px) {
    /*header左部*/
    #brandTitle{
        font-size: 16px;
    }
    #brandSubttle{
        font-size: 12px;
    }
    #smallTitle{
        padding: 3px 5px;
    }

    .mission-js,.mission-sf,.mission-yg{
        width: 40px;
        height: 40px;
    }

    /*树苗*/
    .tree img{
        width: 250px;
        height: 250px;
    }

}

