<!doctype html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>请登录!</title>

    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap-dialog.css">
    <link rel="stylesheet" href="/style/login/login.css">
</head>
<body>
<header class="loginHeader">
    <div class="container-fluid">
        <div class="row mr-top-100">
            <div class="col-md-4 col-xs-1"></div>
            <div class="col-md-4 col-xs-10">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">
                        <b>密码登陆</b>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal" id="loginForm">
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control input-lg" id="cLoginname" name="cLoginname" placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="password" class="form-control input-lg" id="cPassword" name="cPassword" placeholder="请输入登陆密码">
                                </div>
                            </div>
                            <div class="row">
                                <label class="radio-inline">
                                    <div class="col-sm-12">
                                        <input type="radio" name="cRylb" id="cRylb_2" value="2" checked> 平台用户
                                    </div>
                                </label>
                                <label class="radio-inline">
                                    <div class="col-sm-12">
                                        <input type="radio" name="cRylb" id="cRylb_1" value="1"> 系统管理员
                                    </div>
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-block btn-lg btn-primary" id="btnLogin">登陆</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/base/register">免费注册</a>
                                    <a href="/base/getBackPassword">忘记密码</a>
                                    <a href="/base/loginByPhone">手机验证码登陆</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-1"></div>

        </div>
    </div>
</header>

<script src="/publicFrame/jquery/jquery-3.4.0.min.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap-dialog.js"></script>
<script src="/publicJs/SendRequest.js"></script>
<script src="/js/login/login.js"></script>
</body>
</html>