<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luo.dao.AreaMapper">
    <select id="getAllArea" resultType="com.luo.model.AreaModel">
        SELECT * FROM tb_area
    </select>

    <select id="getAreaById" resultType="com.luo.model.AreaModel">
        SELECT * FROM tb_area WHERE area_id=#{area_id}
    </select>

    <insert id="addArea" parameterType="com.luo.model.AreaModel">
        INSERT INTO tb_area (area_name,priority,create_time,edit_last_time)
        VALUES (#{area_name},#{priority},#{create_time},#{edit_last_time})
    </insert>
    
    <delete id="delAreaById" parameterType="java.lang.Integer">
        DELETE FROM tb_area WHERE area_id=#{area_id}
    </delete>

    <update id="doUpdateArea" parameterType="com.luo.model.AreaModel">
        UPDATE tb_area SET area_name=#{area_name},priority=#{priority},edit_last_time=#{edit_last_time}
    </update>


</mapper>