<!doctype html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap-dialog.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css">
    <style>
        .table label{
            line-height: 35px;
        }
        .edit-footer{
            width: 95%;
            height: 50px;
            text-align: center;
            overflow: hidden;
        }
        .require{
            color: #c9302c;
        }
        #insertPlateUserForm td span{
            line-height: 35px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <form id="insertPlateUserForm">
        <table class="table" >
            <col width="20%">
            <col width="30%">
            <col width="20%">
            <col />
            <tbody>
            <tr>
                <td colspan="4">
                        <span class="text-danger"><strong>注意：请仔细核对用户信息，并按照转账凭证正确填写以下信息！若信息填写错误可能导致提现失败！<br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp【提现操作时，付款方为平台，收款方为用户】。注意：提现成功后不可撤回！</strong></span>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="cUsername" class="control-label">用户姓名:</label>
                </td>
                <td align="left">
                    <span class="cUsername"></span>
                    <input type="hidden" id="cUsername">
                    <input type="hidden" id="cUserid">
                </td>
                <td align="right">
                    <label for="cZjhm" class="control-label">身份证号码:</label>
                </td>
                <td align="left">
                    <span class="cZjhm"></span>
                    <input type="hidden" id="cZjhm">
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="cEmail" class="control-label">电子邮箱:</label>
                </td>
                <td align="left">
                    <span class="cEmail"></span>
                    <input type="hidden" id="cEmail">
                </td>
                <td align="right">
                    <label for="cPhone" class="control-label">电话号码:</label>
                </td>
                <td align="left">
                    <span class="cPhone"></span>
                    <input type="hidden" id="cPhone">
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="cFkzh" class="control-label"><i class="require">*</i>付款账户:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" id="cFkzh" name="cFkzh" placeholder="请输入付款账户">
                </td>
                <td align="right">
                    <label for="cSkzh" class="control-label"><i class="require">*</i>收款账户:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" id="cSkzh" name="cSkzh" placeholder="请输入收款账户">
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="cFkfs" class="control-label"><i class="require">*</i>付款方式:</label>
                </td>
                <td align="left">
                    <select class="form-control"  name="cFkfs" id="cFkfs"></select>
                </td>
                <td align="right">
                    <label for="cSkfs" class="control-label"><i class="require">*</i>收款方式:</label>
                </td>
                <td align="left">
                    <select class="form-control"  name="cSkfs" id="cSkfs"></select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="dFksj" class="control-label"><i class="require">*</i>付款时间:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"  id="dFksj" name="dFksj" placeholder="请输入付款时间">
                </td>
                <td align="right">
                    <label for="dSksj" class="control-label"><i class="require">*</i>收款时间:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"  id="dSksj" name="dSksj" placeholder="请输入收款时间">
                </td>
            </tr>
            <tr>
                <td align="right" class="fk_yhk">
                    <label for="cFkyh" class="control-label">付款银行:</label>
                </td>
                <td align="left" class="fk_yhk">
                    <input type="text" class="form-control" id="cFkyh" name="cFkyh" placeholder="请输入付款银行" disabled>
                </td>
                <td align="right" class="sk_yhk">
                    <label for="cSkyh" class="control-label">收款银行:</label>
                </td>
                <td align="left" class="sk_yhk">
                    <input type="text" class="form-control" id="cSkyh" name="cSkyh" placeholder="请输入收款银行" disabled>
                </td>
            </tr>
            <tr>
                <td align="right" class="fk_yhk">
                    <label for="cFkkh" class="control-label">付款卡号:</label>
                </td>
                <td align="left" class="fk_yhk">
                    <input type="text" class="form-control" id="cFkkh" name="cFkkh" placeholder="请输入付款卡号" disabled>
                </td>
                <td align="right" class="sk_yhk">
                    <label for="cSkkh" class="control-label">收款卡号:</label>
                </td>
                <td align="left" class="sk_yhk">
                    <input type="text" class="form-control" id="cSkkh" name="cSkkh" placeholder="请输入收款卡号" disabled>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="cFksfcg" class="control-label"><i class="require">*</i>付款是否成功:</label>
                </td>
                <td align="left">
                    <select class="form-control"  name="cFksfcg" id="cFksfcg"></select>
                </td>
                <td align="right">
                    <label for="cSksfcg" class="control-label"><i class="require">*</i>收款是否成功:</label>
                </td>
                <td align="left">
                    <select class="form-control"  name="cSksfcg" id="cSksfcg"></select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="cFkdh" class="control-label"><i class="require">*</i>付款单号:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" id="cFkdh" name="cFkdh" placeholder="请输入付款单号">
                </td>
                <td align="right">
                    <label for="cSkdh" class="control-label"><i class="require">*</i>收款单号:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" id="cSkdh" name="cSkdh" placeholder="请输入收款单号">
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="nFknl" class="control-label"><i class="require">*</i>提现能量:</label>
                </td>
                <td align="left" colspan="3">
                    <input type="text" class="form-control" id="nFknl" name="nFknl" placeholder="请输入提现能量">
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="cBz" class="control-label">备注:</label>
                </td>
                <td align="left" colspan="3">
                    <textarea class="form-control" id="cBz" name="cBz" placeholder="请输入备注"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <div class="edit-footer">
        <button type="button" class="btn btn-primary" id="btnSave">确认提现</button>
        <button type="button" class="btn btn-default" id="btnRet">关&nbsp&nbsp&nbsp&nbsp闭</button>
    </div>
</div>



<script src="/publicFrame/jquery/jquery-3.4.0.min.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap-dialog.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<script src="/publicFrame/My97DatePicker/WdatePicker.js"></script>
<script src="/publicJs/publicCommon.js"></script>
<script src="/publicJs/publicyw.js"></script>
<script src="/publicJs/SendRequest.js"></script>
<script src="/js/yhgl/nltx.js"></script>
</body>
</html>