<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenplatform.dao.UtilDao">
    <select id="selectPlateCodeDmz" parameterType="com.greenplatform.model.PlateCodeDmz" resultType="com.greenplatform.model.PlateCodeDmz">
        SELECT T.* FROM plate_code_dmz T WHERE 1=1
        <if test='cDmlb!=null and cDmlb!=""'>
            AND T.cDmlb = #{cDmlb}
        </if>
        <if test='cDm!=null and cDm!=""'>
            AND T.cDm = #{cDm}
        </if>
        <if test='cDmmc!=null and cDmmc!=""'>
            AND T.cDmmc = #{cDmmc}
        </if>
        <if test='cSort!=null and cSort!=""'>
            AND T.cSort = #{cSort}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
        ORDER BY T.cDmlb
    </select>

    <select id="selectTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx" resultType="com.greenplatform.model.TGreenSpSpmx">
        SELECT T.* FROM t_green_sp_spmx T WHERE 1=1
        <if test='cSpbh!=null and cSpbh!=""'>
            AND T.cSpbh = #{cSpbh}
        </if>
        <if test='cSpmc!=null and cSpmc!=""'>
            AND T.cSpmc = #{cSpmc}
        </if>
        <if test='cSpms!=null and cSpms!=""'>
            AND T.cSpms = #{cSpms}
        </if>
        <if test='cSpjg!=null and cSpjg!=""'>
            AND T.cSpjg = #{cSpjg}
        </if>
        <if test='cSpdw!=null and cSpdw!=""'>
            AND T.cSpdw = #{cSpdw}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        ORDER BY T.cSpjg DESC
    </select>


</mapper>