<!doctype html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/addArea" method="post" class="primaryForm">
        <input type="text" name="area_name" placeholder="请输入区域名称"><br>
        <input type="text" name="priority" placeholder="请输入区域优先级"><br>
        <input type="submit" class="primaryBtn" value="确认添加" >
    </form>

</body>
</html>