<!doctype html>
<html lang="ch" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欢迎你,系统管理员</title>

    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap-dialog.css">
    <link rel="stylesheet" href="/publicFrame/dhtmlx-4.5/skins/web/dhtmlx.css">
    <link rel="stylesheet" href="/publicFrame/dhtmlx-4.5/skins/dhtmlxgrid.css">
    <link rel="stylesheet" href="/plateStatic/css/rwgl/index.css">
</head>
<body>
<div class="container-fluid plateIndexContainer">
    <div class="row top_title">
        <div class="col-md-12">
            <h4>欢迎你，系统管理员！</h4>
        </div>
    </div>
    <div class="row center_main">
        <div class="col-md-2 center_main_left">
            <ul class="nav nav-pills nav-stacked">
                <li class="active" role="presentation"><a href="/base/index">用户管理</a></li>
                <li role="presentation"><a href="/base/rwgl">任务管理</a></li>
                <li role="presentation"><a href="/base/nlgl">能量管理</a></li>
                <li role="presentation"><a href="/base/spgl">商品管理</a></li>
                <li role="presentation"><a href="/base/stgl">收徒管理</a></li>
                <li role="presentation"><a href="/base/zhsjgl">账户升级管理</a></li>
                <li role="presentation"><a href="/base/jcdm">基础代码维护</a></li>
            </ul>
        </div>
        <div class="col-md-10 center_main_right">
            <div class="row">
                <div class="col-md-12 searchForm">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="cUsernameSearch">姓名：</label>
                            <input type="text" class="form-control" id="cUsernameSearch" placeholder="请输入姓名">
                        </div>
                        <div class="form-group">
                            <label for="cRwlbSearch">任务类别：</label>
                            <select class="form-control" id="cRwlbSearch"></select>
                        </div>
                        <button type="button" class="btn btn-info" id="btnSearch">搜索</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center_right_main">
                    <div id="gridbox"></div>
                    <div id="commonInfo"></div>
                </div>
            </div>

        </div>
    </div>
    <footer class="row">
        版权所有
    </footer>
</div>



<script src="/publicFrame/jquery/jquery-3.4.0.min.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap-dialog.js"></script>
<script src="/publicFrame/dhtmlx-4.5/dhtmlx.min.js"></script>
<script src="/publicJs/publicCommon.js"></script>
<script src="/publicJs/publicyw.js"></script>
<script src="/publicJs/SendRequest.js"></script>
<script src="/plateStatic/js/rwgl/index.js"></script>
</body>
</html>