
<table id="grid-table"></table>

<div id="grid-pager"></div>

<!--授权模态框-->
<div id="grandModel" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header no-padding">
        <div class="table-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="white">&times;</span>
          </button>
          用户授权
        </div>
      </div>

      <div class="modal-body no-padding">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="control-group">
              <label class="control-label bolder blue">角色列表</label>

              <div class="checkbox">
                <label>
                  <input name="form-field-checkbox" type="checkbox" class="ace" />
                  <span class="lbl"> choice 1</span>
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input name="form-field-checkbox" type="checkbox" class="ace" />
                  <span class="lbl"> choice 2</span>
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" />
                  <span class="lbl"> choice 3</span>
                </label>
              </div>
            </div>
          </div>
        </div><!-- /.row -->

      </div>

      <div class="modal-footer no-margin-top">
        <button type="button" class="btn btn-success">确认授权</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<script type="text/javascript">

  //文档 https://blog.mn886.net/jqGrid/

  var grid_selector = "#grid-table";
  var pager_selector = "#grid-pager";
  var parent_column = $(grid_selector).closest('[class*="col-"]');

  $(function(){
    pageInit();
  });

  function pageInit(){
    var lastsel2;
    //配置表格
    $("#grid-table").jqGrid({
      url: "/UserController/selectAllUser",//获取数据的地址
      mtype: "get",//	ajax提交方式。POST或者GET，默认GET
      datatype: "json",//从服务器端返回的数据类型，默认xml。可选类型：xml，local，json，jsonnp，script，xmlstring，jsonstring，clientside
      colNames:['操作','ID','姓名','登陆名', '电话号码', '状态','注册日期'],//列显示名称，是一个数组对象
      colModel:[
        //数据显示
        {
          name: "myac",
          index: "",
          align: "center",
          search: false,
          width: 80,
          sortable: false,
          formatter: act
        },
        {
          name:'id',//表格列的名称
          index:'id',//索引。其和后台交互的参数为sidx
          width:60,
          sorttype:"int",//用在当datatype为local时，定义搜索列的类型，可选值：int/integer - 对integer排序float/number/currency - 排序数字date - 排序日期text - 排序文本
          editable: false,
          search: false
        },
        {
          name:'username',
          index:'username',
          width:90,
          editable:true,
          sorttype:"int",
          edittype:"text"//可以编辑的类型。可选值：text, textarea, select, checkbox, password, button, image and file.
        },
        {
          name:'loginname',
          index:'loginname',
          width:150,
          editable: true,
          edittype:"text"
        },
        {
          name:'mobilephone',
          index:'mobilephone',
          width:70,
          editable: true,
          edittype:"text"
        },
        {
          name:'status',
          index:'status',
          width:90,
          editable: true,
          edittype:"select",
          editoptions:
            {value:"1:有效;0:无效"}
        },
        {
          name:'createTime',
          index:'createTime',
          width:150,
          sortable:true,
          sorttype: "date",
          editable: false,
          unformat: pickDate,
          formatter:'date',
          formatoptions:{newformat:'Y-m-d H:i:s'},
          search: false
        }
      ],//常用到的属性：name 列显示的名称；index 传到服务器端用来排序用的列名称；width 列宽度；align 对齐方式；sortable 是否可以排序
      pager : pager_selector,//分页工具容器，定义翻页用的导航栏，必须是有效的html元素。翻页工具栏可以放置在html页面任意位置
      rowNum:10, //一页显示记录条数，这个参数是要被传递到后台rownumbers : true,
      rowList:[10,20,30],hidegrid : false,//收缩列表按钮
      //sortname: "",//默认的排序列。可以是列名称或者是一个数字，这个参数会被提交到后台
      viewrecords : true,//定义是否要显示总记录数
      caption: "系统用户列表",//表格名称
      altRows: true,//设置表格 zebra-striped 值
      height: 320,//表格高度，可以是数字，像素值或者百分比
      multiboxonly: true,//只有当multiselect = true.起作用，当multiboxonly 为ture时只有选择checkbox才会起作用
      multiselect: true,//定义是否可以多选
      emptyrecords : "无数据",//当返回的数据行数为0时显示的信息。只有当属性 viewrecords 设置为ture时起作用
      editurl: "/UserController/editUser",//定义对form编辑时的url
      jsonReader : { // jsonReader来跟服务器端返回的数据做对应
        root : "data.retDatas", // 包含实际数据的数组
        page : "data.currPage", // 当前页
        total : "data.totalPage",// 总页数
        records : "data.totalCount", // 查询出的记录数
        id : "id",
        repeatitems : false
      },

      //事件   当从服务器返回响应时执行
      loadComplete : function(data) {
        var table = this;
        setTimeout(function(){
          //styleCheckbox(table);//自定义checkbox样式

          //updateActionIcons(table);//更新操作图标样式
          updatePagerIcons(table);//pagebar图标
          enableTooltips(table);//
        }, 0);
      },

      //双击选中行事件
      ondblClickRow : function(id) {
        if (id && id !== lastsel2) {
          jQuery('#grid-table').jqGrid('restoreRow', lastsel2);
          jQuery('#grid-table').jqGrid('editRow', id, {
            keys : true,
            oneditfunc: function() {
              //alert ("edited");
            },
            aftersavefunc: function (ret) {
              console.log(ret)
            },
            errorfunc: function(ret){
              console.log(ret);
            }
          });
          lastsel2 = id;
        }
      }
    }).navGrid(
      "#grid-pager",//分页容器
      { 	//navbar options
        edit: false,
        editicon: 'ace-icon fa fa-pencil blue',
        add: true,
        addicon: 'ace-icon fa fa-plus-circle purple',
        addtext: "新增",//新增按钮上的文字
        addtitle: "新增",//当鼠标移到新增按钮上时显示的提示
        del: true,
        delicon: 'ace-icon fa fa-trash-o red',
        deltext: '批量删除',
        deltitle: '批量删除',
        search: true,
        searchicon: 'ace-icon fa fa-search orange',
        searchtext: '按条件查询',
        searchtitle: '按条件查询',
        refresh: true,
        refreshicon: 'ace-icon fa fa-refresh green',
        refreshtitle: '刷新表格',
        refreshtext: '刷新表格',
        view: true,
        viewicon: 'ace-icon fa fa-search-plus grey',
        viewtext: '查看详情',
        viewtitle: '查看详情'
        //alertcap: "提示!",// 当我们edit,delete or view一行记录时出现的提示信息
        //alerttext: "请选择需要操作的数据行!"// 当未选中任何行而点击编辑、删除，弹出的提示信息
      },
      {
        //edit funtion
      },
      {
        //add funtion
      },
      {
        //del funtion
      },
      {
        //search funtion
        multipleSearch:true
      },
      {
        //view funtion
      }
    );
  }


  //操作列(授权)
  function act(grid, rows, state) {
    return "<button class='btn btn-link' onclick='change(" + rows.rowId+" )'>授权</button>" ;
  }

  //事件
  function change(rowId){
    //alert(rowId);
    var rowData = $("#grid-table").jqGrid('getRowData',rowId);
    console.log(rowData);
    $("#grandModel").modal("show");
  }


  //enable datepicker
  function pickDate( cellvalue, options, cell ) {
    setTimeout(function(){
      $(cell) .find('input[type=text]')
        .datepicker({format:'yyyy-mm-dd' , autoclose:true});
    }, 0);
  }



  //resize to fit page size
  $(window).on('resize.jqGrid', function () {
    $(grid_selector).jqGrid( 'setGridWidth', parent_column.width() );
  });

  //resize on sidebar collapse/expand
  $(document).on('settings.ace.jqGrid' , function(ev, event_name, collapsed) {
    if( event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed' ) {
      //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
      setTimeout(function() {
        $(grid_selector).jqGrid( 'setGridWidth', parent_column.width() );
      }, 20);
    }
  });



  $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size

  //replace icons with FontAwesome icons like above
  function updatePagerIcons(table) {
    var replacement =
      {
        'ui-icon-seek-first' : 'ace-icon fa fa-angle-double-left bigger-140',
        'ui-icon-seek-prev' : 'ace-icon fa fa-angle-left bigger-140',
        'ui-icon-seek-next' : 'ace-icon fa fa-angle-right bigger-140',
        'ui-icon-seek-end' : 'ace-icon fa fa-angle-double-right bigger-140'
      };
    $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
      var icon = $(this);
      var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

      if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
    })
  }

  function enableTooltips(table) {
    $('.navtable .ui-pg-button').tooltip({container:'body'});
    $(table).find('.ui-pg-div').tooltip({container:'body'});
  }

  //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');

  $(document).one('ajaxloadstart.page', function(e) {
    $.jgrid.gridDestroy(grid_selector);
    $('.ui-jqdialog').remove();
  });



</script>