<!doctype html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap-dialog.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css">
    <style>
        .table label{
            line-height: 35px;
        }
        .edit-footer{
            width: 98%;
            height: 50px;
            text-align: center;
            position: absolute;
            bottom: 0;
            overflow: hidden;
        }
        .require{
            color: #c9302c;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <form id="insertPlateUserForm">
        <table class="table" >
            <col width="15%">
            <col width="35%">
            <col width="15%">
            <col width="35%">
            <tbody>
            <tr>
                <td align="right">
                    <label for="cUsername" class="control-label"><i class="require">*</i>用户姓名:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" id="cUsername" name="cUsername" placeholder="请输入用户姓名">
                </td>
                <td align="right">
                    <label for="cSex" class="control-label"><i class="require">*</i>用户性别:</label>
                </td>
                <td align="left">
                    <select class="form-control" id="cSex"></select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="cLoginname" class="control-label"><i class="require">*</i>登录名:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" id="cLoginname" name="cRylb" placeholder="请输入用户登录名">
                </td>
                <td align="right">
                    <label for="cEmail" class="control-label"><i class="require">*</i>电子邮箱:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" id="cEmail" name="cEmail" placeholder="请输入邮箱">
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="cPhone" class="control-label"><i class="require">*</i>电话号码:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" id="cPhone" name="cPhone" placeholder="请输入电话号码">
                </td>
                <td align="right">
                    <label for="cZjlx" class="control-label"><i class="require">*</i>证件类型:</label>
                </td>
                <td align="left">
                    <select class="form-control" id="cZjlx"></select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="cZjhm" class="control-label"><i class="require">*</i>证件号码:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" id="cZjhm" name="cZjhm" placeholder="请输入证件号码">
                </td>
                <td align="right">
                    <label for="cJtzz" class="control-label"><i class="require">*</i>家庭住址:</label>
                </td>
                <td align="left">
                    <input type="text" class="form-control" id="cJtzz" name="cJtzz" placeholder="请输入家庭住址">
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="cPassword" class="control-label"><i class="require">*</i>初始密码:</label>
                </td>
                <td align="left">
                    <input type="password" class="form-control" id="cPassword" name="cPassword" placeholder="设置初始登陆密码">
                </td>
                <td align="right">
                    <label for="cPassword1" class="control-label"><i class="require">*</i>确认密码:</label>
                </td>
                <td align="left">
                    <input type="Password" class="form-control" id="cPassword1" name="cPassword1" placeholder="请再次输入初始密码">
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <div class="edit-footer">
        <button type="button" class="btn btn-primary" id="btnSave">保存</button>
        <button type="button" class="btn btn-default" id="btnRet">关闭</button>
    </div>
</div>



<script src="/publicFrame/jquery/jquery-3.4.0.min.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap-dialog.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<script src="/publicJs/publicCommon.js"></script>
<script src="/publicJs/publicyw.js"></script>
<script src="/publicJs/SendRequest.js"></script>
<script src="/js/yhgl/edit.js"></script>
</body>
</html>