<!doctype html>
<html lang="ch" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>绿沙平台</title>
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/system/css/systemStyle.css">

</head>
<body>
    <div id="home"></div>
    <header class="indexHeader">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>绿沙平台</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#home">首页 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#rankList">能量排行榜</a></li>
                        <li><a href="#market">种子商店</a></li>
                        <li><a href="#apprentice">收徒</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./login">登陆</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">我的账户</a></li>
                                <li><a href="#">收徒</a></li>
                            </ul>
                        </li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid mission">
            <div class="row"></div>
            <div class="row">
                <div class="col-md-11 col-sm-11 col-xs-9"></div>
                <div class="col-md-1 col-sm-1 col-xs-3">
                    <a href="">
                        <img src="/publicImg/icon/js.png" id="js" class="center-block" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 col-sm-11 col-xs-9"></div>
                <div class="col-md-1 col-sm-1 col-xs-3">
                    <a href="">
                        <img src="/publicImg/icon/sf.png" id="sf" class="center-block" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 col-sm-11 col-xs-9"></div>
                <div class="col-md-1 col-sm-1 col-xs-3">
                    <a href="">
                        <img src="/publicImg/icon/yg.png" id="yg" class="center-block" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div id="rankList" class="container-fluid mr-top-50">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h3 class="text-center">能量排行榜</h3>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-9 col-sm-10 col-xs-10 rankListBg">
                <span class="glyphicon glyphicon-tree-conifer"></span>张三
                <span>15000KG</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-8 col-sm-9 col-xs-9 rankListBg">
                <span class="glyphicon glyphicon-tree-conifer"></span>张三
                <span>15000KG</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-8 col-sm-9 col-xs-9 rankListBg">
                <span class="glyphicon glyphicon-tree-conifer"></span>张三
                <span>15000KG</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-7 col-sm-8 col-xs-8 rankListBg">
                <span class="glyphicon glyphicon-tree-conifer"></span>张三
                <span>15000KG</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-7 col-sm-8 col-xs-8 rankListBg">
                <span class="glyphicon glyphicon-tree-conifer"></span>张三
                <span>15000KG</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-6 col-sm-7 col-xs-7 rankListBg">
                <span class="glyphicon glyphicon-tree-conifer"></span>张三
                <span>15000KG</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-5 col-sm-6 col-xs-6 rankListBg">
                <span class="glyphicon glyphicon-tree-conifer"></span>张三
                <span>15000KG</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-5 col-sm-5 col-xs-5 rankListBg">
                <span class="glyphicon glyphicon-tree-conifer"></span>张三
                <span>15000KG</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-4 col-sm-4 col-xs-4 rankListBg">
                <span class="glyphicon glyphicon-tree-conifer"></span>张三
                <span>15000KG</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-3 rankListBg">
                <span class="glyphicon glyphicon-tree-conifer"></span>张三
                <span>15000KG</span>
            </div>
        </div>
    </div>

    <section id="market" class="popular-packages">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="single-package">
                        <h2 class="text-center">种子商店</h2>
                    </div>
                </div>
            </div>
            <div class="row" th:each="tGreenSpSpmxList : ${tGreenSpSpmxList}">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-package">
                        <div class="package-image">
                            <a href="#"><img src="/publicImg/system/1.jpg" alt=""></a>
                        </div>
                        <div class="package-content">
                            <h3><a href="" title="" id="cSpmc" th:text=${tGreenSpSpmxList.cSpmc}></a></h3>
                            <p id="cSpms" th:text=${tGreenSpSpmxList.cSpms}>4 Days, 5 Nights Start From <span id="cSpjg" th:text=${tGreenSpSpmxList.cSpjg}></span>
                            </p>
                        </div>
                        <div class="package-calto-action">
                            <ul class="ct-action">
                                <li><a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">立即兑换</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- single package end -->

                <!--<div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-package">
                        <div class="package-image">
                            <a href="#"><img src="/publicImg/system/2.jpg" alt=""></a>
                        </div>
                        <div class="package-content">
                            <h3><a href="" title="">白刺 – All Stunning Places</a></h3>
                            <p>4 Days, 5 Nights Start From <span>$500</span>
                            </p>
                        </div>
                        <div class="package-calto-action">
                            <ul class="ct-action">
                                <li><a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">立即兑换</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> &lt;!&ndash; single package end &ndash;&gt;

                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-package">
                        <div class="package-image">
                            <a href="#"><img src="/publicImg/system/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="package-content">
                            <h3><a href="" title="">肉苁蓉 – All Stunning Places</a></h3>
                            <p>4 Days, 5 Nights Start From <span>$500</span>
                            </p>
                        </div>
                        <div class="package-calto-action">
                            <ul class="ct-action">
                                <li><a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">立即兑换</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> &lt;!&ndash; single package end &ndash;&gt;

                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-package">
                        <div class="package-image">
                            <a href="#"><img src="/publicImg/system/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="package-content">
                            <h3><a href="" title="">芦荟 – All Stunning Places</a></h3>
                            <p>4 Days, 5 Nights Start From <span>$500</span>
                            </p>
                        </div>
                        <div class="package-calto-action">
                            <ul class="ct-action">
                                <li><a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">立即兑换</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> &lt;!&ndash; single package end &ndash;&gt;

                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-package">
                        <div class="package-image">
                            <a href="#"><img src="/publicImg/system/5.jpg" alt="">
                            </a>
                        </div>
                        <div class="package-content">
                            <h3><a href="" title="">大犀角 – All Stunning Places</a></h3>
                            <p>4 Days, 5 Nights Start From <span>$500</span>
                            </p>
                        </div>
                        <div class="package-calto-action">
                            <ul class="ct-action">
                                <li><a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">立即兑换</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> &lt;!&ndash; single package end &ndash;&gt;

                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-package">
                        <div class="package-image">
                            <a href="#"><img src="/publicImg/system/6.jpg" alt="">
                            </a>
                        </div>
                        <div class="package-content">
                            <h3><a href="" title="">绿之玲 – All Stunning Places</a></h3>
                            <p>4 Days, 5 Nights Start From <span>$500</span>
                            </p>
                        </div>
                        <div class="package-calto-action">
                            <ul class="ct-action">
                                <li><a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">立即兑换</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> &lt;!&ndash; single package end &ndash;&gt;-->
            </div>
        </div>
    </section> <!--end  popular packajge -->
    <div id="apprentice" class="container-fluid mr-top-50">
        <ul>
            <li><a href="">1</a></li>
            <li><a href="">1</a></li>
            <li><a href="">1</a></li>
            <li><a href="">1</a></li>
            <li><a href="">1</a></li>
            <li><a href="">1</a></li>
            <li><a href="">1</a></li>
            <li><a href="">1</a></li>
            <li><a href="">1</a></li>
            <li><a href="">1</a></li>
        </ul>
    </div>
    <footer class="container-fluid indexFooter">
        <ul>
            <li><a href="">12</a></li>
            <li><a href="">12</a></li>
            <li><a href="">12</a></li>
            <li><a href="">12</a></li>
            <li><a href="">12</a></li>
            <li><a href="">12</a></li>
            <li><a href="">12</a></li>
            <li><a href="">12</a></li>
            <li><a href="">12</a></li>
            <li><a href="">12</a></li>
        </ul>
    </footer>
    <div id="returnTop">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </div>


    <script src="/publicFrame/jquery/jquery-3.4.0.min.js"></script>
    <script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/publicJs/SendRequest.js"></script>
    <script src="/system/js/index/index.js"></script>
</body>
</html>