<ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="/base/index">用户管理</a></li>
    <li role="presentation"><a href="/base/rwgl">任务管理</a></li>
    <li role="presentation"><a href="/base/nlgl">能量管理</a></li>
    <li role="presentation"><a href="/base/spgl">商品管理</a></li>
    <li role="presentation"><a href="/base/stgl">收徒管理</a></li>
    <li role="presentation"><a href="/base/zhsjgl">账户等级</a></li>
    <li role="presentation"><a href="/base/jcdm">基础代码</a></li>
</ul>

<!--<ul class="list-group">
    <li class="list-group-item"><a href="/base/index">用户管理</a></li>
    <li class="list-group-item"><a href="/base/rwgl">任务管理</a></li>
    <li class="list-group-item"><a href="/base/nlgl">能量管理</a></li>
    <li class="list-group-item"><a href="/base/spgl">商品管理</a></li>
    <li class="list-group-item"><a href="/base/zhsjgl">账户升级</a></li>
    <li class="list-group-item"><a href="/base/jcdm">基础代码</a></li>
</ul>-->




<script>
    $(function () {
        initMenu();
    })
    function initMenu(){
        $(".center_main_left").find("li").each(function () {
            var a = $(this).find("a:first")[0];
            if ($(a).attr("href") === location.pathname) {
                $(this).addClass("active");
            } else {
                $(this).removeClass("active");
            }
        });
    }
</script>