<!doctype html>
<html lang="ch" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>绿沙平台</title>
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap-dialog.css">
    <link rel="stylesheet" href="/style/web/webStyle.css">

</head>
<body>
    <div id="home"></div>
    <header class="indexHeader">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand" href="#" id="navbarBrand">
                        <img class="logo" src="/publicImg/logo.png">
                        <div id="brandTitle">绿沙平台<span id="brandSubttle">LVSHAPINGTAI</span></div>
                        <span id="smallTitle">绿化沙漠&nbsp&nbsp&nbsp&nbsp共享未来</span>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#home" id="btnHome">首页 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#goldList">点赞排行榜</a></li>
                        <li><a href="#rankList">能量排行榜</a></li>
                        <li><a href="#market">种子商店</a></li>
                        <!--<li><a th:text="${loginuserHome.plateUser.cUsername}"></a></li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="myAccount">我的账户</a></li>
                                <li><a href="#" id="btnInviteUser" th:style="${loginuserHome.plateUser['cIssmz']} == 1 ? '':'display: none'">邀请好友</a></li>
                                <li><a href="/base/loginout">退出</a></li>
                            </ul>
                        </li>
                        <!--<li th:text="${session.loginUser.cLoginname}"></li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--banner开始-->
    <banner id="banner-bak">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img id="item-1" src="../../publicImg/systemBg.jpg" alt="...">
                    <div class="carousel-caption">
                        <!--任务-->
                        <div class="container-fluid mission" id="mission">
                            <!--攻略-->
                            <div class="method" id="method">
                                <img src="/publicImg/icon/method.png" data-toggle="modal" data-target="#legalStatement" alt="">
                            </div>
                            <!--任务-->
                            <div th:style="${loginuserHome.tGreenRwRwmx['1']} == true ? 'display: none':''">
                                <div class="mission-sf">
                                    <a class="rwlb_1" id="finishMisson_sf" value="1">
                                        <img src="/publicImg/icon/sf.png" id="sf" class="center-block" alt="">
                                    </a>
                                </div>
                            </div>
                            <div th:style="${loginuserHome.tGreenRwRwmx['2']} == true ? 'display: none':''">
                                <div class="mission-js">
                                    <a class="rwlb_2" id="finishMisson_js" value="2">
                                        <img src="/publicImg/icon/js.png" id="js" class="center-block" alt="">
                                    </a>
                                </div>
                            </div>
                            <div th:style="${loginuserHome.tGreenRwRwmx['3']} == true ? 'display: none':''">
                                <div class="mission-yg">
                                    <a class="rwlb_3" id="finishMisson_yg" value="3">
                                        <img src="/publicImg/icon/yg.png" id="yg" class="center-block" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="tree">
                                <img th:attr="src='/publicImg/icon/'+${loginuserHome.tGreenRwRwmx['endRwCountDay']}+'.png'" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../publicImg/systemBg.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="../../publicImg/systemBg.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>-->
        </div>


    </banner>

    <!--点赞排行榜-->
    <div id="goldList" class="container-fluid">
        <div class="goldListWrap">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center goldListTitle">金币点赞排行榜TOP10</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="btnLikeBox">
                        <span class="glyphicon glyphicon-thumbs-up" id="btnLike"></span>
                        <span id="jsGold">-50</span>
                    </div>
                </div>
            </div>
            <div class="row goldDzRankTitle">
                <div class="col-md-4 col-xs-3">排名</div>
                <div class="col-md-4 col-xs-4">用户</div>
                <div class="col-md-4 col-xs-5">点赞数</div>
            </div>
            <div class="row goldDzRankContent" th:each="tGreenGoldDzhzList,tGreenGoldDzhzStatu : ${loginuserHome.tGreenGoldDzhzList}">
                <div class="col-md-4 col-xs-3" th:text=${tGreenGoldDzhzStatu.index+1} th:attr="id = 'goldDzRankContent_'+${tGreenGoldDzhzStatu.index+1}"></div>
                <div class="col-md-4 col-xs-4" th:text="${tGreenGoldDzhzList.cUserid == loginuserHome.owerTGreenGoldDzhz['cUserid'] ? tGreenGoldDzhzList.cUsername : #strings.substring(tGreenGoldDzhzList.cUsername,0,1) + '**'}"></div>
                <div class="col-md-4 col-xs-5" th:text="${'M '+tGreenGoldDzhzList.nDzzl}"></div>
            </div>
            <div class="row goldDzRankContent">
                <div class="col-md-4 col-xs-3 goldDzRankContent_ower" th:text="${loginuserHome.owerTGreenGoldDzhz['nRank']}"></div>
                <div class="col-md-4 col-xs-4" th:text="${loginuserHome.owerTGreenGoldDzhz['cUsername']}"></div>
                <div class="col-md-4 col-xs-5" th:text="${'M '+loginuserHome.owerTGreenGoldDzhz['n_dzzl']}"></div>
            </div>
        </div>
    </div>


    <!--能量排行榜-->
    <div id="rankList" class="container-fluid">
        <div class="goldListWrap">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center goldListTitle">能量排行榜TOP10</h3>
                </div>
            </div>
            <div class="row goldDzRankTitle">
                <div class="col-md-4 col-xs-3">排名</div>
                <div class="col-md-4 col-xs-4">用户</div>
                <div class="col-md-4 col-xs-5">能量总量</div>
            </div>
            <div class="row goldDzRankContent" th:each="tGreenNlNlhz,tGreenNlNlhzStatu : ${loginuserHome.tGreenNlNlhzList}">
                <div class="col-md-4 col-xs-3" th:text=${tGreenNlNlhzStatu.index+1} th:attr="id = 'goldDzRankContent_'+${tGreenNlNlhzStatu.index+1}"></div>
                <div class="col-md-4 col-xs-4" th:text="${tGreenNlNlhz.cUserid == loginuserHome.owerTGreenNlHz['cUserid'] ? tGreenNlNlhz.cUsername : #strings.substring(tGreenNlNlhz.cUsername,0,1) + '**'}"></div>
                <div class="col-md-4 col-xs-5" th:text="${'￥'+tGreenNlNlhz.nNlhz}"></div>
            </div>
            <div class="row goldDzRankContent">
                <div class="col-md-4 col-xs-3 goldDzRankContent_ower" th:text="${loginuserHome.owerTGreenNlHz['nRank']}"></div>
                <div class="col-md-4 col-xs-4" th:text="${loginuserHome.owerTGreenNlHz['cUsername']}"></div>
                <div class="col-md-4 col-xs-5" th:text="${'￥'+loginuserHome.owerTGreenNlHz['n_nlhz']}"></div>
            </div>
        </div>
    </div>


    <!--种子商店-->
    <section id="market" class="popular-packages">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="single-package">
                        <h3 class="text-center market-title">种子商店</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-4" th:each="tGreenSpSpmxList : ${loginuserHome.tGreenSpSpmxList}">
                    <div class="single-package">
                        <div class="package-image">
                            <a href="##"><img th:attr="src = ${tGreenSpSpmxList.cImgurl}" alt=""></a>
                        </div>
                        <div class="package-content">
                            <h3><a href="" title="" id="cSpmc" th:text=${tGreenSpSpmxList.cSpmc}></a></h3>
                            <span id="nSpjg" th:text="'￥'+${tGreenSpSpmxList.nSpjg}"></span>
                            <p id="cSpms" th:attr="title = ${tGreenSpSpmxList.cSpms}" th:text=${tGreenSpSpmxList.cSpms}> </p>
                        </div>
                        <div class="package-calto-action">
                            <ul class="ct-action">
                                <li><a th:value="${tGreenSpSpmxList.cSpbh}" class="travel-booking-btn hvr-shutter-out-horizontal">立即兑换</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--end  popular packajge -->

    <footer class="container-fluid indexFooter">
        联系方式：QQ：1584638913    邮箱：1584638913@qq.com <br>
        Lvsawangluofuwupingtai     版权所有:绿沙网络服务平台 <br>
        Copyright@2019-www.lhwlljnw.com <br>
        绿化沙漠     共享未来
    </footer>
    <div class="sidebar-returnTop">
        <span id="returnTop" class="glyphicon glyphicon-chevron-up"></span>
    </div>

    <div class="modal fade" id="myAccountModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">我的账户</h4>
                </div>
                <div class="modal-body">
                    <!--标签页头-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#myAccountModelBase" aria-controls="myAccountModelBase" role="tab" data-toggle="tab">基本信息</a>
                        </li>
                        <li role="presentation">
                            <a href="#myAccountModelProfile" aria-controls="myAccountModelProfile" role="tab" data-toggle="tab">我的任务</a>
                        </li>
                        <li role="presentation">
                            <a href="##myAccountModelMessages" aria-controls="myAccountModelMessages" role="tab" data-toggle="tab">我的植物</a>
                        </li>
                        <li role="presentation">
                            <a href="#myAccountModelSettings" aria-controls="myAccountModelSettings" role="tab" data-toggle="tab">我的徒弟</a>
                        </li>
                    </ul>

                    <!--标签页内容-->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane in active" id="myAccountModelBase">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span id="cUsername"></span>
                                    <span class="badge" id="cRydj"></span>
                                    <a href="/base/certification" class="btn-link" target="" id="certiBtn">实名制</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge" id="nNlhz"></span>我的能量
                                </li>
                                <li class="list-group-item">
                                    <span class="badge" id="nJbzl"></span>我的金币
                                </li>
                                <li class="list-group-item">
                                    <span class="badge" id="nDzzl"></span>我的点赞数
                                </li>
                                <li class="list-group-item">
                                    <button class="btn btn-primary btn-sm" id="btnCz">充值</button>
                                    <button class="btn btn-info btn-sm" id="btnTx">提现</button>
                                </li>
                                <li class="list-group-item">
                                    <a href="/base/history?type=1" target="">捐赠记录</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/base/history?type=2" target="">充值记录</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/base/history?type=3" target="">提现记录</a>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="myAccountModelProfile">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge" id="nMonthRw"></span>本月任务
                                </li>
                                <li class="list-group-item">
                                    今日任务
                                </li>
                                <li class="list-group-item">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span>施肥</span>
                                            <span id="cRwlb_1" class="badge">已完成</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span>浇水</span>
                                            <span id="cRwlb_2" class="badge">已完成</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span>沐浴阳光</span>
                                            <span id="cRwlb_3" class="badge">已完成</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="myAccountModelMessages">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    我的植物
                                </li>
                                <li class="list-group-item" id = "mySeed">
                                    <ul class="list-group">
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="myAccountModelSettings">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span>我的徒弟</span>
                                    <span class="float-right text-danger">今日任务</span>
                                </li>
                                <li class="list-group-item" id = "mySon">
                                    <ul class="list-group">
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--加载客服二维码-->
    <div class="modal fade" id="customModel" tabindex="-1" role="dialog" aria-labelledby="customModelLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="customModelLabel">扫码加客服</h4>
                </div>
                <div class="modal-body">
                    <img src="/publicImg/customImg.jpg" id="customImg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!--邀请码-->
    <div class="modal fade" id="inviteUserModel" tabindex="-1" role="dialog" aria-labelledby="inviteUserLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="inviteUserLabel">邀请码</h4>
                </div>
                <div class="modal-body">
                    <img src="" id="inviteUserQrcode" alt="">
                </div>
            </div>
        </div>
    </div>

    <!--平台使用机制Model-->
    <div class="modal fade bs-example-modal-lg" id="legalStatement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="legalMyModalLabel">《绿沙平台使用机制》</h4>
                </div>
                <div class="modal-body">
                    <h4><strong>平台使用机制：</strong></h4>
                    <p>1.每位用户必须进行实名注册才能正常使用平台功能。</p>
                    <p>2.平台部分功能使用说明：</p>
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp A、种植任务规则（每位用户每天登录平台完成主页面对种植植物进行浇水、施肥、沐浴阳光，当天种植任务才算完成。）</p>
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp B、金币获取规则（每位用户可以每天完成种植任务、成功分享好友、植物捐赠来获取金币，通过主页面进行金币点赞获取排名。）</p>
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp C、金币点赞排名奖励规则（排名累积到10万金币，平台会自动根据排名瓜分相应的奖励给用户。第1名：奖励88绿沙能量。第2名：奖励58绿沙能量。第3名：奖励38绿沙能量。第4~10名：奖励18绿沙能量。第11~50名：奖励8绿沙能量。第51~100名：奖励2绿沙能量。第101以上随机数量金币。）</p>
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp D、能量排名规则（用户只要每次获得能量奖励，能量排名就会每次累积，主页面只显示能量排名前十名。）</p>
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp E、能量获取规则（可以通过完成种植任务在平台捐赠，成功分享好友及金币点赞获取相应能量奖励。）</p>
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp F、能量奖励规则（a.新用户完成注册及实名认证，平台会奖励价值100能量的仙人掌，完成一个月的种植任务可以获得112的能量奖励，可提现，可继续购买种子进行种植获得能量奖励。b.完成种植任务成功捐赠，每次可获得种植植物价值的12%作为任务奖励。c.成功分享好友，好友完成第一次种植任务，师傅可获得105的能量奖励，好友第二次开始完成的每次种植任务，师傅都可以获得好友种植植物价值的5%作为任务奖励。</p>
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp G、账号等级升级规则（每个月持续完成任务，持续三个月账户升一级，升级后每次植物捐赠完成，在原有12%基础上增加2%的绿沙能量作为奖励。账号升到第三级，在原有12%基础上增加3%的绿沙能量作为奖励。账号升至第四级，在原有12%基础上增加5%的绿沙能量作为奖励。账户最高等级为四级。）</p>
                    <p>3.植物种植说明（用户只有每天持续完成种植任务，持续一个月才算真正完成种植任务，才能进行平台植物捐赠获取能量奖励，如果其中有一天用户忘记完成种植任务，种植任务会重新从第一天算起，每位用户一定要记住每天完成种植任务。）</p>
                    <p>4.提现及充值请加微信客服，更高的效率以及资金安全。</p>
                    <p>5.用户在使用过程中遇到任何不清楚的问题，请咨询微信客服。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary center-block" data-dismiss="modal">关&nbsp&nbsp&nbsp&nbsp闭</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/publicFrame/jquery/jquery-3.4.0.min.js"></script>
    <script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap-dialog.js"></script>
    <script src="/publicJs/SendRequest.js"></script>
    <script src="/publicJs/publicyw.js"></script>
    <script src="/js/web/webIndex.js"></script>
</body>
</html>