<!doctype html>
<html lang="ch" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>绿沙平台</title>
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap-dialog.css">
    <link rel="stylesheet" href="/style/web/webstyle.css">
</head>
<body>
    <div id="home"></div>
    <header class="indexHeader">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand" href="#" id="navbarBrand">
                        <img class="logo" src="/publicImg/logo.png">
                        <div id="brandTitle">绿沙平台<span id="brandSubttle">LVSHAPINGTAI</span></div>
                        <span id="smallTitle">绿化沙漠&nbsp&nbsp&nbsp&nbsp共享未来</span>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#home" id="btnHome">首页 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#goldList">点赞排行榜</a></li>
                        <li><a href="#rankList">能量排行榜</a></li>
                        <li><a href="#market">种子商店</a></li>
                        <!--<li><a th:text="${loginuserHome.plateUser.cUsername}"></a></li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="myAccount">我的账户</a></li>
                                <li><a href="#" id="btnInviteUser" th:style="${loginuserHome.plateUser['cIssmz']} == 1 ? '':'display: none'">邀请好友</a></li>
                                <li><a href="/base/loginout">退出</a></li>
                            </ul>
                        </li>
                        <!--<li th:text="${session.loginUser.cLoginname}"></li>-->
                    </ul>
                </div>
            </div>
        </nav>

        <!--任务-->
        <div class="container-fluid mission" id="mission">
            <div th:style="${loginuserHome.tGreenRwRwmx['1']} == true ? 'display: none':''">
                <div class="mission-sf">
                    <a class="rwlb_1" id="finishMisson_sf" value="1">
                        <img src="/publicImg/icon/sf.png" id="sf" class="center-block" alt="">
                    </a>
                </div>
            </div>
            <div th:style="${loginuserHome.tGreenRwRwmx['2']} == true ? 'display: none':''">
                <div class="mission-js">
                    <a class="rwlb_2" id="finishMisson_js" value="2">
                        <img src="/publicImg/icon/js.png" id="js" class="center-block" alt="">
                    </a>
                </div>
            </div>
            <div th:style="${loginuserHome.tGreenRwRwmx['3']} == true ? 'display: none':''">
                <div class="mission-yg">
                    <a class="rwlb_3" id="finishMisson_yg" value="3">
                        <img src="/publicImg/icon/yg.png" id="yg" class="center-block" alt="">
                    </a>
                </div>
            </div>
            <div class="tree">
                <img th:attr="src='/publicImg/icon/'+${loginuserHome.tGreenRwRwmx['endRwCountDay']}+'.png'" alt="">
            </div>
        </div>
    </header>

    <!--点赞排行榜-->
    <div id="goldList" class="container-fluid mr-top-50">
        <div class="goldListWrap">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center goldListTitle">金币点赞排行榜</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="btnLikeBox">
                        <span class="glyphicon glyphicon-thumbs-up" id="btnLike"></span>
                        <span id="jsGold">-50</span>
                    </div>
                </div>
            </div>
            <div class="row goldDzRankTitle">
                <div class="col-md-4 col-xs-3">排名</div>
                <div class="col-md-4 col-xs-4">用户</div>
                <div class="col-md-4 col-xs-5">点赞数</div>
            </div>
            <div class="row goldDzRankContent" th:each="tGreenGoldDzhzList,tGreenGoldDzhzStatu : ${loginuserHome.tGreenGoldDzhzList}">
                <div class="col-md-4 col-xs-3" th:text=${tGreenGoldDzhzStatu.index+1} th:attr="id = 'goldDzRankContent_'+${tGreenGoldDzhzStatu.index+1}"></div>
                <div class="col-md-4 col-xs-4" th:text="${tGreenGoldDzhzList.cUsername}"></div>
                <div class="col-md-4 col-xs-5" th:text="${tGreenGoldDzhzList.nDzzl}"></div>
            </div>
            <div class="row goldDzRankContent">
                <div class="col-md-4 col-xs-4 goldDzRankContent_ower" th:text="${loginuserHome.owerTGreenGoldDzhz['nRank']}"></div>
                <div class="col-md-4 col-xs-3" th:text="${loginuserHome.owerTGreenGoldDzhz['cUsername']}"></div>
                <div class="col-md-4 col-xs-5" th:text="${loginuserHome.owerTGreenGoldDzhz['n_dzzl']}"></div>
            </div>
        </div>
    </div>


    <!--能量排行榜-->
    <div id="rankList" class="container-fluid mr-top-50">
        <div class="goldListWrap">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center goldListTitle">能量排行榜</h3>
                </div>
            </div>
            <div class="row goldDzRankTitle">
                <div class="col-md-4 col-xs-3">排名</div>
                <div class="col-md-4 col-xs-4">用户</div>
                <div class="col-md-4 col-xs-5">能量总量</div>
            </div>
            <div class="row goldDzRankContent" th:each="tGreenNlNlhz,tGreenNlNlhzStatu : ${loginuserHome.tGreenNlNlhzList}">
                <div class="col-md-4 col-xs-3" th:text=${tGreenNlNlhzStatu.index+1} th:attr="id = 'goldDzRankContent_'+${tGreenNlNlhzStatu.index+1}"></div>
                <div class="col-md-4 col-xs-4" th:text=${tGreenNlNlhz.cUsername}></div>
                <div class="col-md-4 col-xs-5" th:text="${tGreenNlNlhz.nNlhz}+'G'"></div>
            </div>
            <div class="row goldDzRankContent">
                <div class="col-md-4 col-xs-4 goldDzRankContent_ower" th:text="${loginuserHome.owerTGreenNlHz['nRank']}"></div>
                <div class="col-md-4 col-xs-3" th:text="${loginuserHome.owerTGreenNlHz['cUsername']}"></div>
                <div class="col-md-4 col-xs-5" th:text="${loginuserHome.owerTGreenNlHz['n_nlhz']}+G"></div>
            </div>
        </div>
    </div>


    <!--种子商店-->
    <section id="market" class="popular-packages">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="single-package">
                        <h3 class="text-center">种子商店</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-4" th:each="tGreenSpSpmxList : ${loginuserHome.tGreenSpSpmxList}">
                    <div class="single-package">
                        <div class="package-image">
                            <a href="#"><img th:attr="src = ${tGreenSpSpmxList.cImgurl}" alt=""></a>
                        </div>
                        <div class="package-content">
                            <h3><a href="" title="" id="cSpmc" th:text=${tGreenSpSpmxList.cSpmc}></a></h3>
                            <span id="nSpjg" th:text="${tGreenSpSpmxList.nSpjg} + '克'"></span>
                            <p id="cSpms" th:attr="title = ${tGreenSpSpmxList.cSpms}" th:text=${tGreenSpSpmxList.cSpms}> </p>
                        </div>
                        <div class="package-calto-action">
                            <ul class="ct-action">
                                <li><a th:value="${tGreenSpSpmxList.cSpbh}" class="travel-booking-btn hvr-shutter-out-horizontal">立即兑换</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--end  popular packajge -->


    <footer class="container-fluid indexFooter">
        版权所有:绿沙种植网络平台有限责任公司
    </footer>
    <div class="sidebar-returnTop">
        <span id="returnTop" class="glyphicon glyphicon-chevron-up"></span>
    </div>

    <!-- myAccountModel -->
    <div class="modal fade" id="myAccountModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">我的账户</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span id="cUsername"></span>
                            <span class="badge" id="cRydj"></span>
                            <a href="/base/certification" class="btn-link" target="" id="certiBtn">实名制</a>
                            <!--<a href="/base/webIndexEdit" class="btn-link" target="" id="certiEdit">修改信息</a>-->
                        </li>
                        <li class="list-group-item">
                            <span class="badge" id="nNlhz"></span>我的能量
                        </li>
                        <li class="list-group-item">
                            <span class="badge" id="nJbzl"></span>我的金币
                        </li>
                        <li class="list-group-item">
                            <span class="badge" id="nDzzl"></span>我的点赞数
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-primary btn-sm" id="btnCz">充值</button>
                            <button class="btn btn-info btn-sm" id="btnTx">提现</button>
                        </li>
                        <li class="list-group-item">
                            我的植物
                        </li>
                        <li class="list-group-item" id = "mySeed">
                            <ul class="list-group">
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <span class="badge" id="nMonthRw"></span>本月任务
                        </li>
                        <li class="list-group-item">
                            今日任务
                        </li>
                        <li class="list-group-item">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span>施肥</span>
                                    <span id="cRwlb_1" class="badge">已完成</span>
                                </li>
                                <li class="list-group-item">
                                    <span>浇水</span>
                                    <span id="cRwlb_2" class="badge">已完成</span>
                                </li>
                                <li class="list-group-item">
                                    <span>沐浴阳光</span>
                                    <span id="cRwlb_3" class="badge">已完成</span>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <a href="/base/history" target="">捐赠记录</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/base/history" target="">充值记录</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/base/history" target="">提现记录</a>
                        </li>
                    </ul>
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnRet">关闭</button>
                </div>-->
            </div>
        </div>
    </div>

    <div class="modal fade" id="customModel" tabindex="-1" role="dialog" aria-labelledby="customModelLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="customModelLabel">扫码加客服</h4>
                </div>
                <div class="modal-body">
                    <img src="/publicImg/customImg.jpg" id="customImg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="inviteUserModel" tabindex="-1" role="dialog" aria-labelledby="inviteUserLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="inviteUserLabel">邀请码</h4>
                </div>
                <div class="modal-body">
                    <img src="" id="inviteUserQrcode" alt="">
                </div>
            </div>
        </div>
    </div>


    <script src="/publicFrame/jquery/jquery-3.4.0.min.js"></script>
    <script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap-dialog.js"></script>
    <script src="/publicJs/SendRequest.js"></script>
    <script src="/publicJs/publicyw.js"></script>
    <script src="/js/web/webIndex.js"></script>
</body>
</html>