<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.greenplatform.dao.owerMapper.OwerTGreenZzJzjlMapper" >
  <select id="selectTGreenZzJzjl" parameterType="java.util.HashMap" resultType="java.util.HashMap">
      SELECT  A.c_lsh cLsh,
              A.c_zzzjlsh cZzzjlsh,
              A.c_userid cUserid,
              IFNULL(DATE_FORMAT(A.d_Jzsj,'%Y-%m-%d %H:%i'),'') dJzsj,
              A.c_spbh cSpbh,
              A.c_bz cBz,
              A.c_zt cZt,
              A.c_cjuser cCjuser,
              B.c_username  cUsername,
              B.c_loginname  cLoginname,
              B.c_phone  cPhone,
              C.c_spmc  cSpmc,
              C.n_spjg nSpjg
      FROM t_green_zz_jzjl A,plate_user B,t_green_sp_spmx C
      WHERE A.c_userid = B.c_userid
        AND A.c_spbh = C.c_spbh
        AND A.c_zt = '1'
        AND A.c_userid = #{cUserid}
        AND date_format(A.c_jzday, '%Y-%m') = date_format(#{cMonth}, '%Y-%m')
      ORDER BY A.d_Jzsj,C.c_spbh
  </select>
</mapper>