<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plate.publicmag.dao.owerDao.SystemMagMapper" >
  <select id="selectMenuByLoginUser" parameterType="java.util.Map" resultType="java.util.Map">
       SELECT
            *
        FROM
            t_system_menu t
        WHERE
            t.id IN (
                SELECT
                    x.menu_id
                FROM
                    t_system_role_menu x
                WHERE
                    x.role_id = (
                        SELECT
                            a.role_id
                        FROM
                            t_system_user_role a
                        WHERE
                            a.user_id = #{userid}
                    )
            ) AND t.parent_id IS NULL
            order by t.parent_id
  </select>
</mapper>