<!doctype html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>这是index</title>

    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/publicFrame/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row header-nav">
            <div class="col-md-4 col-xs-4">
                <a class="header-nav-title">绿沙平台后台管理系统</a>
            </div>
            <div class="col-md-offset-4 col-xs-offset-4 col-md-4 col-xs-4">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="dropdown-toggle dropdown-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理员 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid center-content">
        <div class="row center-content-row">
            <div class="col-md-2 center-left">
                <div id="sidebar">
                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav">
                            <ul class="nav" id="side-menu">
                                <li>
                                    <a href="index.html" class="active"><i class="fa fa-dashboard fa-fw nav_icon"></i>首页</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-laptop nav_icon"></i>业务功能<span class="fa fa-chevron-right"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="grids.html">网站用户查询</a>
                                        </li>
                                        <li>
                                            <a href="grids.html">任务管理</a>
                                        </li>
                                        <li>
                                            <a href="grids.html">能量管理</a>
                                        </li>
                                        <li>
                                            <a href="grids.html">商品管理</a>
                                        </li>
                                        <li>
                                            <a href="grids.html">收徒管理</a>
                                        </li>
                                        <li>
                                            <a href="grids.html">账户等级管理</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-indent nav_icon"></i>系统配置<span class="fa fa-chevron-right"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="graphs.html">权限管理</a>
                                        </li>
                                        <li>
                                            <a href="typography.html">系统用户管理</a>
                                        </li>
                                        <li>
                                            <a href="typography.html">系统参数设置</a>
                                        </li>
                                        <li>
                                            <a href="typography.html">应用配置</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                            </ul>
                        </div>
                        <!-- /.sidebar-collapse -->
                    </div>
                </div>
            </div>
            <div class="col-md-10 cneter-right">
                <div id="main-content-data">

                </div>
            </div>
        </div>

    </div>


    <script src="/publicFrame/jquery/jquery-3.4.0.min.js"></script>
    <script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script>
        $(function(){
            $(".nav_icon").parent().click(function(){
                $(".nav_icon").parent().removeClass("active");
                $(this).addClass("active");//设置点击后的样式

                if($(this).next().css("display") == 'none'){
                    $(this).next().show(100);
                    $(this).children("span").removeClass("fa fa-chevron-right");
                    $(this).children("span").addClass("fa fa-chevron-down");
                }else  {
                    $(this).next().hide(100);
                    $(this).children("span").removeClass("fa fa-chevron-down");
                    $(this).children("span").addClass("fa fa-chevron-right");
                }//改变右侧箭头与二级菜单显示隐藏控制
            });
        });


    </script>
</body>
</html>