<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">新增基础代码</h4>
        </div>
        <div class="modal-body">
            <form id="insertPlateUserForm" class="">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="cDmlb" class="sr-only"></label>
                        <input type="text" class="form-control" id="cDmlb" name="cDmlb" placeholder="请输入代码类别">
                    </div>
                    <div class="col-sm-6">
                        <label for="cDmlbmc" class="sr-only"></label>
                        <input type="text" class="form-control" id="cDmlbmc" name="cDmlbmc" placeholder="请输入代码类别名称">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="cDm" class="sr-only"></label>
                        <input type="text" class="form-control" id="cDm" name="cLoginname" placeholder="请输入代码">
                    </div>
                    <div class="col-sm-6">
                        <label for="cDmmc" class="sr-only"></label>
                        <input type="text" class="form-control" id="cDmmc" name="cDmmc" placeholder="请输入代码名称">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="cSort" class="sr-only"></label>
                        <input type="text" class="form-control" id="cSort" name="cSort" placeholder="请输入排序号">
                    </div>
                    <div class="col-sm-6">
                        <label for="cZt" class="sr-only"></label>
                        <select class="form-control" id="cZt"></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnSave">保存</button>
            <button type="button" class="btn btn-warning" id="btnReset">重置</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btnRet">关闭</button>
        </div>
    </div>
</div>

<script>
    $(function () {
        initBtn();
    });

    function initBtn() {
        $("#btnReset").click(function(){
            $("#insertPlateUserForm input").val("");
            $("#insertPlateUserForm select").val("");
        });

        $("#myModalLabel").html("新增基础代码");
        $("#btnReset").click();
        $("#cUserid").val("");

        $("#btnSave").click(function(){
            checkRegister();
            $("#insertPlateUserForm").bootstrapValidator('validate');//提交验证

            if ($("#insertPlateUserForm").data('bootstrapValidator').isValid()) {
                if($("#cUserid").val()){
                    f_submitData("1","/plate/updPlateuser");
                }else{
                    f_submitData("0","/plate/insertPlateuser");
                }
            }
        });
    }


    /**
     * 验证新增用户表单
     */
    function checkRegister(){
        $('#insertPlateUserForm').bootstrapValidator({
            excluded: [':disabled'],
            message: '表单验证有误',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                /*invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'*/
            },
            fields: {
                cEmail: {
                    message: '邮箱验证失败',
                    validators: {
                        notEmpty: {
                            message: '邮箱不能为空'
                        },
                        emailAddress: {
                            message: '邮箱地址格式有误'
                        }
                    }
                },
                cLoginname: {
                    message: '用户名验证失败',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 3,
                            max: 18,
                            message: '用户名长度必须在3到18位之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '用户名只能包含大写、小写、数字和下划线'
                        }
                    }
                }/*,
            cPassword: {
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    }
                }
            },
            cPassword1: {
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    },
                    identical: {
                        field: 'cPassword',
                        message: '两次密码不一致'
                    },
                }
            }*/
            }
        });
    }


    /**
     * 发送请求保存数据
     * type:操作类型，0新增/1修改/2删除
     * reqURL：服务地址
     */
    function f_submitData(type,reqURL){
        var sendRequest = new SendRequest(reqURL,"POST");//构造对象

        if ("0" === type) {
            sendRequest.addParamObj({
                "cUsername":$("#cUsername").val(),
                "cSex":$("#cSex").val(),
                "cEmail":$("#cEmail").val(),
                "cPhone":$("#cPhone").val(),
                "cWxhm":$("#cWxhm").val(),
                "cZjhm":$("#cZjhm").val(),
                "cLoginname":$("#cLoginname").val(),
                "cRylb":$("#cRylb").val(),
                "cPassword":$("#cPassword").val(),
                "cZt":'1',
            });//构造请求参数
        }else if("1" === type){
            sendRequest.addParamObj({
                "cUserid":$("#cUserid").val(),
                "cUsername":$("#cUsername").val(),
                "cSex":$("#cSex").val(),
                "cEmail":$("#cEmail").val(),
                "cPhone":$("#cPhone").val(),
                "cWxhm":$("#cWxhm").val(),
                "cZjhm":$("#cZjhm").val(),
                "cLoginname":$("#cLoginname").val(),
                "cRylb":$("#cRylb").val(),
                "cPassword":$("#cPassword").val(),
                "cZt":'1'
            });//构造请求参数
        }else if("2" === type){
            sendRequest.addParamObj({
                "cUserid":$("#cUserid").val()
            });//构造请求参数
        }

        sendRequest.sendRequest(function(ret){
            $("#btnSave").attr("disabled",false);
            if("0" != ret.flag){
                BootstrapDialog.alert({
                    type: BootstrapDialog.TYPE_WARNING,
                    size: BootstrapDialog.SIZE_SMALL,
                    title: '提示',
                    message: "操作失败！"+ret.msg,
                    closeable: true,
                    buttonLabel: "确定"
                });
            }else{
                BootstrapDialog.alert({
                    type: BootstrapDialog.TYPE_WARNING,
                    size: BootstrapDialog.SIZE_SMALL,
                    title: '提示',
                    message: "操作成功",
                    closeable: true,
                    buttonLabel: "确定"
                });
                $("#btnRet,#btnReset").click();
                loadGridData();
            }
        });//发送请求并获取返回结果
    }


</script>