<!doctype html>
<html lang="ch" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欢迎你,系统管理员</title>

    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrap-dialog.css">
    <link rel="stylesheet" href="/publicFrame/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="/publicFrame/dhtmlx-4.5/skins/web/dhtmlx.css">
    <link rel="stylesheet" href="/publicFrame/dhtmlx-4.5/skins/dhtmlxgrid.css">
    <link rel="stylesheet" href="/plateStatic/css/jcdm/index.css">
</head>
<body>
<div class="container-fluid plateIndexContainer">
    <div class="row top_title">
        <div class="col-md-12">
            <h4>欢迎你，系统管理员！</h4>
        </div>
    </div>
    <div class="row center_main">
        <div class="col-md-2 center_main_left">
            <ul class="nav nav-pills nav-stacked">
                <li class="active" role="presentation"><a href="/base/index">用户管理</a></li>
                <li role="presentation"><a href="/base/rwgl">任务管理</a></li>
                <li role="presentation"><a href="/base/nlgl">能量管理</a></li>
                <li role="presentation"><a href="/base/spgl">商品管理</a></li>
                <li role="presentation"><a href="/base/stgl">收徒管理</a></li>
                <li role="presentation"><a href="/base/zhsjgl">账户升级管理</a></li>
                <li role="presentation"><a href="/base/jcdm">基础代码维护</a></li>
            </ul>
        </div>
        <div class="col-md-10 center_main_right">
            <div class="row">
                <div class="col-md-12 searchForm">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="cDmlbSeatch">代码类别：</label>
                            <input type="text" class="form-control" id="cDmlbSeatch" placeholder="请输入代码类别">
                        </div>
                        <div class="form-group">
                            <label for="cDmSearch">代码值：</label>
                            <input type="text" class="form-control" id="cDmSearch" placeholder="请输入代码值">
                        </div>
                        <button type="button" class="btn btn-info" id="btnSearch">搜索</button>
                        <button type="button" class="btn btn-primary" id="btnAdd">新增</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center_right_main">
                    <div id="gridbox"></div>
                    <div id="commonInfo"></div>
                </div>
            </div>

        </div>
    </div>
    <footer class="row">
        版权所有
    </footer>

    <!-- addUserModel -->
    <div class="modal fade" id="addUserModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增基础代码</h4>
                </div>
                <div class="modal-body">
                    <form id="insertPlateUserForm" class="">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cDmlb" class="sr-only"></label>
                                <input type="text" class="form-control" id="cDmlb" name="cDmlb" placeholder="请输入代码类别">
                            </div>
                            <div class="col-sm-6">
                                <label for="cDmlbmc" class="sr-only"></label>
                                <input type="text" class="form-control" id="cDmlbmc" name="cDmlbmc" placeholder="请输入代码类别名称">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cDm" class="sr-only"></label>
                                <input type="text" class="form-control" id="cDm" name="cLoginname" placeholder="请输入代码">
                            </div>
                            <div class="col-sm-6">
                                <label for="cDmmc" class="sr-only"></label>
                                <input type="text" class="form-control" id="cDmmc" name="cDmmc" placeholder="请输入代码名称">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cSort" class="sr-only"></label>
                                <input type="text" class="form-control" id="cSort" name="cSort" placeholder="请输入排序号">
                            </div>
                            <div class="col-sm-6">
                                <label for="cZt" class="sr-only"></label>
                                <select class="form-control" id="cZt"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSave">保存</button>
                    <button type="button" class="btn btn-warning" id="btnReset">重置</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnRet">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>



<script src="/publicFrame/jquery/jquery-3.4.0.min.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrap-dialog.js"></script>
<script src="/publicFrame/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<script src="/publicFrame/dhtmlx-4.5/dhtmlx.min.js"></script>
<script src="/publicJs/StringBuffer.js"></script>
<script src="/publicJs/publicCommon.js"></script>
<script src="/publicJs/publicyw.js"></script>
<script src="/publicJs/SendRequest.js"></script>
<script src="/plateStatic/js/jcdm/index.js"></script>
</body>
</html>