<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">新增商品</h4>
        </div>
        <div class="modal-body">
            <form id="insertForm" class="">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="cSpmc" class="sr-only"></label>
                        <input type="text" class="form-control" id="cSpmc" name="cSpmc" placeholder="请输入商品名称">
                        <input type="hidden" class="form-control" id="cSpbh" name="cSpbh">
                    </div>
                    <div class="col-sm-6">
                        <label for="cSpjg" class="sr-only"></label>
                        <input type="text" class="form-control" id="cSpjg" name="cSpjg" placeholder="请输入商品价格">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="cSpms" class="sr-only"></label>
                        <textarea name="cSpms" id="cSpms"class="form-control" rows="2" placeholder="请输入商品描述"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnSave">保存</button>
            <button type="button" class="btn btn-warning" id="btnReset">重置</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btnRet">关闭</button>
        </div>
    </div>
</div>


<script>
    $(function () {
        initBtn();
    });

    function initBtn() {
        $("#btnReset").click(function(){
            $("#insertForm input").val("");
            $("#insertForm textarea").val("");
            $("#insertForm select").val("");
        });

        $("#myModalLabel").html("新增商品");
        $("#btnReset").click();
        $("#cSpbh").val("");

        $("#btnSave").click(function(){
            checkRequire();
            $("#insertForm").bootstrapValidator('validate');//提交验证

            if ($("#insertForm").data('bootstrapValidator').isValid()) {
                if($("#cSpbh").val()){
                    f_submitData("1","/plate/updTGreenSpSpmx");
                }else{
                    f_submitData("0","/plate/insertTGreenSpSpmx");
                }
            }
        });
    }



    /**
     * 验证表单
     */
    function checkRequire(){
        $('#insertForm').bootstrapValidator({
            excluded: [':disabled'],
            message: '表单验证有误',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                /*invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'*/
            },
            fields: {
                cSpmc: {
                    message: '商品名称验证失败',
                    validators: {
                        notEmpty: {
                            message: '商品名称不能为空'
                        }
                    }
                },
                cSpjg: {
                    message: '商品价格验证失败',
                    validators: {
                        notEmpty: {
                            message: '商品价格不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9]+$/,
                            message: '商品价格只能是数字'
                        }
                    }
                }
            }
        });
    }


    /**
     * 发送请求保存数据
     * type:操作类型，0新增/1修改/2删除
     * reqURL：服务地址
     */
    function f_submitData(type,reqURL){
        var sendRequest = new SendRequest(reqURL,"POST");//构造对象

        if ("0" === type) {
            sendRequest.addParamObj({
                "cSpmc":$("#cSpmc").val(),
                "cSpjg":$("#cSpjg").val(),
                "cSpms":$("#cSpms").val(),
                "cZt":'1'
            });//构造请求参数
        }else if("1" === type){
            sendRequest.addParamObj({
                "cSpbh":$("#cSpbh").val(),
                "cSpmc":$("#cSpmc").val(),
                "cSpjg":$("#cSpjg").val(),
                "cSpms":$("#cSpms").val(),
                "cZt":'1'
            });//构造请求参数
        }else if("2" === type){
            sendRequest.addParamObj({
                "cSpbh":$("#cSpbh").val()
            });//构造请求参数
        }

        sendRequest.sendRequest(function(ret){
            $("#btnSave").attr("disabled",false);
            if("0" != ret.flag){
                BootstrapDialog.alert({
                    type: BootstrapDialog.TYPE_WARNING,
                    size: BootstrapDialog.SIZE_SMALL,
                    title: '提示',
                    message: "操作失败！"+ret.msg,
                    closeable: true,
                    buttonLabel: "确定"
                });
            }else{
                BootstrapDialog.alert({
                    type: BootstrapDialog.TYPE_PRIMARY,
                    size: BootstrapDialog.SIZE_SMALL,
                    title: '提示',
                    message: "操作成功",
                    closeable: true,
                    buttonLabel: "确定"
                });
                $("#btnRet,#btnReset").click();
                loadGridData();
            }
        });//发送请求并获取返回结果
    }


</script>