<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenplatform.dao.PlateDao">
    <select id="checkLogin" parameterType="com.greenplatform.model.PlateUser" resultType="com.greenplatform.model.PlateUser">
        SELECT * FROM plate_user T WHERE T.cLoginname = #{cLoginname} AND T.cPassword = #{cPassword}
    </select>

    <select id="selectUserByEmail" parameterType="com.greenplatform.model.PlateUser" resultType="com.greenplatform.model.PlateUser">
        SELECT * FROM plate_user T WHERE T.cEmail = #{cEmail}
    </select>

    <select id="selectUserByLoginname" parameterType="com.greenplatform.model.PlateUser" resultType="com.greenplatform.model.PlateUser">
        SELECT * FROM plate_user T WHERE T.cLoginname = #{cLoginname}
    </select>

    <insert id="insertUser" parameterType="com.greenplatform.model.PlateUser">
        INSERT INTO plate_user (cUserid,cLoginname,cUsername,cPassword,cRylb,
                               cRyzt,cZcfs,cZjlx,cZjhm,cSex,
                               cJtzz,cPhone,cWxhm,cQq,cEmail,
                               cBz,cZt,cCjuser,dCjsj,cXguser
                               ,dXgsj)
        VALUES(#{cUserid},#{cLoginname},#{cUsername},#{cPassword},#{cRylb},
               #{cRyzt},#{cZcfs},#{cZjlx},#{cZjhm},#{cSex},
               #{cJtzz},#{cPhone},#{cWxhm},#{cQq},#{cEmail},
               #{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},
               #{dXgsj})
    </insert>


</mapper>