<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenplatform.dao.PlateDao">
    <!--plateuser crud-->
    <select id="selectPlateuser" parameterType="com.greenplatform.model.PlateUser" resultType="com.greenplatform.model.PlateUser">
        SELECT T.* FROM plate_user T WHERE 1=1
        <if test='cUserid!=null and cUserid!=""'>
            AND T.cUserid = #{cUserid}
        </if>
        <if test='cLoginname!=null and cLoginname!=""'>
            AND T.cLoginname = #{cLoginname}
        </if>
        <if test='cUsername!=null and cUsername!=""'>
            AND T.cUsername = #{cUsername}
        </if>
        <if test='cPassword!=null and cPassword!=""'>
            AND T.cPassword = #{cPassword}
        </if>
        <if test='cRylb!=null and cRylb!=""'>
            AND T.cRylb = #{cRylb}
        </if>
        <if test='cRyzt!=null and cRyzt!=""'>
            AND T.cRyzt = #{cRyzt}
        </if>
        <if test='cZcfs!=null and cZcfs!=""'>
            AND T.cZcfs = #{cZcfs}
        </if>
        <if test='cZjhm!=null and cZjhm!=""'>
            AND T.cZjhm = #{cZjhm}
        </if>
        <if test='cSex!=null and cSex!=""'>
            AND T.cSex = #{cSex}
        </if>
        <if test='cPhone!=null and cPhone!=""'>
            AND T.cPhone = #{cPhone}
        </if>
        <if test='cWxhm!=null and cWxhm!=""'>
            AND T.cWxhm = #{cWxhm}
        </if>
        <if test='cQq!=null and cQq!=""'>
            AND T.cQq = #{cQq}
        </if>
        <if test='cEmail!=null and cEmail!=""'>
            AND T.cEmail = #{cEmail}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
    </select>
    <insert id="insertPlateuser" parameterType="com.greenplatform.model.PlateUser">
        INSERT INTO plate_user (cUserid,cLoginname,cUsername,cPassword,cRylb,
                               cRyzt,cZcfs,cZjlx,cZjhm,cSex,
                               cJtzz,cPhone,cWxhm,cQq,cEmail,
                               cBz,cZt,cCjuser,dCjsj,cXguser
                               ,dXgsj)
        VALUES(#{cUserid},#{cLoginname},#{cUsername},#{cPassword},#{cRylb},
               #{cRyzt},#{cZcfs},#{cZjlx},#{cZjhm},#{cSex},
               #{cJtzz},#{cPhone},#{cWxhm},#{cQq},#{cEmail},
               #{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},
               #{dXgsj})
    </insert>
    <delete id="delPlateuser" parameterType="com.greenplatform.model.PlateUser">
        DELETE FROM plate_user WHERE cUserid = #{cUserid}
    </delete>
    <update id="updPlateuser" parameterType="com.greenplatform.model.PlateUser">
        UPDATE plate_user
        <set>
            <if test="cUsername != null">cLoginname = #{cLoginname},</if>
            <if test="cUsername != null">cUsername = #{cUsername},</if>
            <if test="cSex != null">cSex = #{cSex},</if>
            <if test="cPassword != null">cPassword = #{cPassword},</if>
            <if test="cPassword != null">cRydj = #{cRydj},</if>
            <if test="cPassword != null">cRylb = #{cRylb},</if>
            <if test="cPassword != null">cRyzt = #{cRyzt},</if>
            <if test="cPassword != null">cZcfs = #{cZcfs},</if>
            <if test="cZjlx != null">cZjlx = #{cZjlx},</if>
            <if test="cZjhm != null">cZjhm = #{cZjhm},</if>
            <if test="cJtzz != null">cJtzz = #{cJtzz},</if>
            <if test="cPhone != null">cPhone = #{cPhone},</if>
            <if test="cWxhm != null">cWxhm = #{cWxhm},</if>
            <if test="cQq != null">cQq = #{cQq},</if>
            <if test="cEmail != null">cEmail = #{cEmail},</if>
            <if test="cEmail != null">cBz = #{cBz},</if>
            <if test="cEmail != null">cZt = #{cZt},</if>
            <if test="cXguser != null">cXguser = #{cXguser},</if>
            <if test="dXgsj != null">dXgsj = #{dXgsj}</if>
        </set>
        WHERE cUserid = #{cUserid}
    </update>

    <!--PlateCodeDmz crud-->
    <select id="selectPlateCodeDmz" parameterType="com.greenplatform.model.PlateCodeDmz" resultType="com.greenplatform.model.PlateCodeDmz">
        SELECT T.* FROM plate_code_dmz T WHERE 1=1
        <if test='cDmlb!=null and cDmlb!=""'>
            AND T.cDmlb = #{cDmlb}
        </if>
        <if test='cDm!=null and cDm!=""'>
            AND T.cDm = #{cDm}
        </if>
        <if test='cDmmc!=null and cDmmc!=""'>
            AND T.cDmmc = #{cDmmc}
        </if>
        <if test='cSort!=null and cSort!=""'>
            AND T.cSort = #{cSort}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
    </select>
    <insert id="insertPlateCodeDmz" parameterType="com.greenplatform.model.PlateCodeDmz">
        INSERT INTO plate_code_dmz (cDmlb,cDm,cDmmc,cSort,cBz,
                               cZt,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cDmlb},#{cDm},#{cDmmc},#{cSort},#{cBz},
               #{cZt},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delPlateCodeDmz" parameterType="com.greenplatform.model.PlateCodeDmz">
        DELETE FROM plate_code_dmz WHERE cDmlb = #{cDmlb}
        <if test='cDm!=null and cDm!=""'>
            AND T.cDm = #{cDm}
        </if>
    </delete>
    <update id="updPlateCodeDmz" parameterType="com.greenplatform.model.PlateCodeDmz">
        UPDATE plate_code_dmz
        <set>
            <if test='cDmmc!=null and cDmmc!=""'>cDmmc = #{cDmmc},</if>
            <if test='cSort!=null and cSort!=""'>cSort = #{cSort},</if>
            <if test='cBz!=null and cBz!=""'>cBz = #{cBz},</if>
            <if test='cZt!=null and cZt!=""'>cZt = #{cZt},</if>
            <if test='cXguser!=null and cXguser!=""'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null and dXgsj!=""'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cDmlb = #{cDmlb} AND cDm = #{cDm}
    </update>

    <!--TGreenSpSpmx crud-->
    <select id="selectTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx" resultType="com.greenplatform.model.TGreenSpSpmx">
        SELECT T.* FROM t_green_sp_spmx T WHERE 1=1
        <if test='cSpbh!=null and cSpbh!=""'>
            AND T.cSpbh = #{cSpbh}
        </if>
        <if test='cSpmc!=null and cSpmc!=""'>
            AND T.cSpmc = #{cSpmc}
        </if>
        <if test='cSpms!=null and cSpms!=""'>
            AND T.cSpms = #{cSpms}
        </if>
        <if test='cSpjg!=null and cSpjg!=""'>
            AND T.cSpjg = #{cSpjg}
        </if>
        <if test='cSpdw!=null and cSpdw!=""'>
            AND T.cSpdw = #{cSpdw}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        ORDER BY T.cSpjg DESC
    </select>
    <insert id="insertTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx">
        INSERT INTO t_green_sp_spmx (cSpbh,cSpmc,cSpms,cSpjg,cSpdw,
                                     cBz,cZt,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cSpbh},#{cSpmc},#{cSpms},#{cSpjg},#{cSpdw},
               #{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx">
        DELETE FROM t_green_sp_spmx WHERE cSpbh = #{cSpbh}
    </delete>
    <update id="updTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx">
        UPDATE t_green_sp_spmx
        <set>
            <if test='cSpmc!=null and cSpmc!=""'>cSpmc = #{cSpmc},</if>
            <if test='cSpms!=null and cSpms!=""'>cSpms = #{cSpms},</if>
            <if test='cSpjg!=null and cSpjg!=""'>cSpjg = #{cSpjg},</if>
            <if test='cSpdw!=null and cSpdw!=""'>cSpdw = #{cSpdw},</if>
            <if test='cBz!=null and cBz!=""'>cBz = #{cBz},</if>
            <if test='cZt!=null and cZt!=""'>cZt = #{cZt},</if>
            <if test='cXguser!=null and cXguser!=""'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null and dXgsj!=""'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cSpbh = #{cSpbh}
    </update>






</mapper>