<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenplatform.dao.SystemDao">

    <!--plateuser crud-->
    <select id="selectPlateuser" parameterType="com.greenplatform.model.PlateUser" resultType="com.greenplatform.model.PlateUser">
        SELECT T.* FROM plate_user T WHERE 1=1
        <if test='cUserid!=null and cUserid!=""'>
            AND T.cUserid = #{cUserid}
        </if>
        <if test='cLoginname!=null and cLoginname!=""'>
            AND T.cLoginname = #{cLoginname}
        </if>
        <if test='cUsername!=null and cUsername!=""'>
            AND T.cUsername = #{cUsername}
        </if>
        <if test='cPassword!=null and cPassword!=""'>
            AND T.cPassword = #{cPassword}
        </if>
        <if test='cRylb!=null and cRylb!=""'>
            AND T.cRylb = #{cRylb}
        </if>
        <if test='cRyzt!=null and cRyzt!=""'>
            AND T.cRyzt = #{cRyzt}
        </if>
        <if test='cZcfs!=null and cZcfs!=""'>
            AND T.cZcfs = #{cZcfs}
        </if>
        <if test='cZjhm!=null and cZjhm!=""'>
            AND T.cZjhm = #{cZjhm}
        </if>
        <if test='cSex!=null and cSex!=""'>
            AND T.cSex = #{cSex}
        </if>
        <if test='cPhone!=null and cPhone!=""'>
            AND T.cPhone = #{cPhone}
        </if>
        <if test='cWxhm!=null and cWxhm!=""'>
            AND T.cWxhm = #{cWxhm}
        </if>
        <if test='cQq!=null and cQq!=""'>
            AND T.cQq = #{cQq}
        </if>
        <if test='cEmail!=null and cEmail!=""'>
            AND T.cEmail = #{cEmail}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
    </select>
    <insert id="insertPlateuser" parameterType="com.greenplatform.model.PlateUser">
        INSERT INTO plate_user (cUserid,cLoginname,cUsername,cPassword,cRylb,
                               cRyzt,cZcfs,cZjlx,cZjhm,cSex,
                               cJtzz,cPhone,cWxhm,cQq,cEmail,
                               cBz,cZt,cCjuser,dCjsj,cXguser
                               ,dXgsj)
        VALUES(#{cUserid},#{cLoginname},#{cUsername},#{cPassword},#{cRylb},
               #{cRyzt},#{cZcfs},#{cZjlx},#{cZjhm},#{cSex},
               #{cJtzz},#{cPhone},#{cWxhm},#{cQq},#{cEmail},
               #{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},
               #{dXgsj})
    </insert>
    <delete id="delPlateuser" parameterType="com.greenplatform.model.PlateUser">
        DELETE FROM plate_user WHERE cUserid = #{cUserid}
    </delete>
    <update id="updPlateuser" parameterType="com.greenplatform.model.PlateUser">
        UPDATE plate_user
        <set>
            <if test="cUsername != null">cLoginname = #{cLoginname},</if>
            <if test="cUsername != null">cUsername = #{cUsername},</if>
            <if test="cSex != null">cSex = #{cSex},</if>
            <if test="cPassword != null">cPassword = #{cPassword},</if>
            <if test="cPassword != null">cRydj = #{cRydj},</if>
            <if test="cPassword != null">cRylb = #{cRylb},</if>
            <if test="cPassword != null">cRyzt = #{cRyzt},</if>
            <if test="cPassword != null">cZcfs = #{cZcfs},</if>
            <if test="cZjlx != null">cZjlx = #{cZjlx},</if>
            <if test="cZjhm != null">cZjhm = #{cZjhm},</if>
            <if test="cJtzz != null">cJtzz = #{cJtzz},</if>
            <if test="cPhone != null">cPhone = #{cPhone},</if>
            <if test="cWxhm != null">cWxhm = #{cWxhm},</if>
            <if test="cQq != null">cQq = #{cQq},</if>
            <if test="cEmail != null">cEmail = #{cEmail},</if>
            <if test="cEmail != null">cBz = #{cBz},</if>
            <if test="cEmail != null">cZt = #{cZt},</if>
            <if test="cXguser != null">cXguser = #{cXguser},</if>
            <if test="dXgsj != null">dXgsj = #{dXgsj}</if>
        </set>
        WHERE cUserid = #{cUserid}
    </update>


    <!--TGreenSpSpmx crud-->
    <select id="selectTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx" resultType="com.greenplatform.model.TGreenSpSpmx">
        SELECT T.* FROM t_green_sp_spmx T WHERE 1=1
        <if test='cSpbh!=null and cSpbh!=""'>
            AND T.cSpbh = #{cSpbh}
        </if>
        <if test='cSpmc!=null and cSpmc!=""'>
            AND T.cSpmc = #{cSpmc}
        </if>
        <if test='cSpms!=null and cSpms!=""'>
            AND T.cSpms = #{cSpms}
        </if>
        <if test='cSpjg!=null and cSpjg!=""'>
            AND T.cSpjg = #{cSpjg}
        </if>
        <if test='cSpdw!=null and cSpdw!=""'>
            AND T.cSpdw = #{cSpdw}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        ORDER BY T.cSpjg DESC
    </select>
    <insert id="insertTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx">
        INSERT INTO t_green_sp_spmx (cSpbh,cSpmc,cSpms,cSpjg,cSpdw,
                                     cBz,cZt,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cSpbh},#{cSpmc},#{cSpms},#{cSpjg},#{cSpdw},
               #{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx">
        DELETE FROM t_green_sp_spmx WHERE cSpbh = #{cSpbh}
    </delete>
    <update id="updTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx">
        UPDATE t_green_sp_spmx
        <set>
            <if test='cSpmc!=null and cSpmc!=""'>cSpmc = #{cSpmc},</if>
            <if test='cSpms!=null and cSpms!=""'>cSpms = #{cSpms},</if>
            <if test='cSpjg!=null and cSpjg!=""'>cSpjg = #{cSpjg},</if>
            <if test='cSpdw!=null and cSpdw!=""'>cSpdw = #{cSpdw},</if>
            <if test='cBz!=null and cBz!=""'>cBz = #{cBz},</if>
            <if test='cZt!=null and cZt!=""'>cZt = #{cZt},</if>
            <if test='cXguser!=null and cXguser!=""'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null and dXgsj!=""'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cSpbh = #{cSpbh}
    </update>

    <!--TGreenNlHz crud-->
    <select id="selectTGreenNlHz" parameterType="com.greenplatform.model.TGreenNlHz" resultType="com.greenplatform.model.TGreenNlHz">
        SELECT T.* FROM t_green_nl_hz T WHERE 1=1
        <if test='cUserid!=null and cUserid!=""'>
            AND T.cUserid = #{cUserid}
        </if>
        <if test='cNlzl!=null and cNlzl!=""'>
            AND T.cNlzl = #{cNlzl}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        ORDER BY T.cNlzl DESC
    </select>
    <insert id="insertTGreenNlHz" parameterType="com.greenplatform.model.TGreenNlHz">
        INSERT INTO t_green_nl_hz (cUserid,cNlzl,cBz,cZt,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cUserid},#{cNlzl},#{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delTGreenNlHz" parameterType="com.greenplatform.model.TGreenNlHz">
        DELETE FROM t_green_nl_hz WHERE cUserid = #{cUserid}
    </delete>
    <update id="updTGreenNlHz" parameterType="com.greenplatform.model.TGreenNlHz">
        UPDATE t_green_nl_hz
        <set>
            <if test='cNlzl!=null'>cNlzl = #{cNlzl},</if>
            <if test='cBz!=null'>cBz = #{cBz},</if>
            <if test='cZt!=null'>cZt = #{cZt},</if>
            <if test='cXguser!=null'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cUserid = #{cUserid}
    </update>

    <!--TGreenNlZjnlmx crud-->
    <select id="selectTGreenNlZjnlmx" parameterType="com.greenplatform.model.TGreenNlZjnlmx" resultType="com.greenplatform.model.TGreenNlZjnlmx">
        SELECT T.* FROM t_green_nl_zjnlmx T WHERE 1=1
        <if test='cLsh!=null and cLsh!=""'>
            AND T.cLsh = #{cLsh}
        </if>
        <if test='cUserid!=null and cUserid!=""'>
            AND T.cUserid = #{cUserid}
        </if>
        <if test='cZjsl!=null and cZjsl!=""'>
            AND T.cZjsl = #{cZjsl}
        </if>
        <if test='cZjyy!=null and cZjyy!=""'>
            AND T.cZjyy = #{cZjyy}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        ORDER BY T.cZjyy DESC
    </select>
    <insert id="insertTGreenNlZjnlmx" parameterType="com.greenplatform.model.TGreenNlZjnlmx">
        INSERT INTO t_green_nl_zjnlmx (cLsh,cUserid,cZjsl,dZjsj,cZjyy,cBz,cZt,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cLsh},#{cUserid},#{cZjsl},#{dZjsj},#{cZjyy},#{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delTGreenNlZjnlmx" parameterType="com.greenplatform.model.TGreenNlZjnlmx">
        DELETE FROM t_green_nl_zjnlmx WHERE cLsh = #{cLsh}
    </delete>
    <update id="updTGreenNlZjnlmx" parameterType="com.greenplatform.model.TGreenNlZjnlmx">
        UPDATE t_green_nl_zjnlmx
        <set>
            <if test='cZjsl!=null'>cZjsl = #{cZjsl},</if>
            <if test='dZjsj!=null'>dZjsj = #{dZjsj},</if>
            <if test='cZjyy!=null'>cZjyy = #{cZjyy},</if>
            <if test='cBz!=null'>cBz = #{cBz},</if>
            <if test='cZt!=null'>cZt = #{cZt},</if>
            <if test='cXguser!=null'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cLsh = #{cLsh}
    </update>

    <!--TGreenNlJsnlmx crud-->
    <select id="selectTGreenNlJsnlmx" parameterType="com.greenplatform.model.TGreenNlJsnlmx" resultType="com.greenplatform.model.TGreenNlJsnlmx">
        SELECT T.* FROM t_green_nl_jsnlmx T WHERE 1=1
        <if test='cLsh!=null and cLsh!=""'>
            AND T.cLsh = #{cLsh}
        </if>
        <if test='cUserid!=null and cUserid!=""'>
            AND T.cUserid = #{cUserid}
        </if>
        <if test='cJssl!=null and cJssl!=""'>
            AND T.cJssl = #{cJssl}
        </if>
        <if test='dJssj!=null and dJssj!=""'>
            AND T.dJssj = #{dJssj}
        </if>
        <if test='cJsyy!=null and cJsyy!=""'>
            AND T.cJsyy = #{cJsyy}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        ORDER BY T.cCjuser DESC
    </select>
    <insert id="insertTGreenNlJsnlmx" parameterType="com.greenplatform.model.TGreenNlJsnlmx">
        INSERT INTO t_green_nl_jsnlmx (cLsh,cUserid,cJssl,dJssj,cJsyy,cBz,cZt,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cLsh},#{cUserid},#{cJssl},#{dJssj},#{cJsyy},#{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delTGreenNlJsnlmx" parameterType="com.greenplatform.model.TGreenNlJsnlmx">
        DELETE FROM t_green_nl_jsnlmx WHERE cLsh = #{cLsh}
    </delete>
    <update id="t_green_nl_jsnlmx" parameterType="com.greenplatform.model.TGreenNlJsnlmx">
        UPDATE t_green_nl_zjnlmx
        <set>
            <if test='cJssl!=null'>cJssl = #{cJssl},</if>
            <if test='dJssj!=null'>dJssj = #{dJssj},</if>
            <if test='cJsyy!=null'>cJsyy = #{cJsyy},</if>
            <if test='cBz!=null'>cBz = #{cBz},</if>
            <if test='cZt!=null'>cZt = #{cZt},</if>
            <if test='cXguser!=null'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cLsh = #{cLsh}
    </update>

    <!--TGreenRwRwmx crud-->
    <select id="selectTGreenRwRwmx" parameterType="com.greenplatform.model.TGreenRwRwmx" resultType="com.greenplatform.model.TGreenRwRwmx">
        SELECT T.* FROM t_green_rw_rwmx T WHERE 1=1
        <if test='cUserid!=null and cUserid!=""'>
            AND T.cUserid = #{cUserid}
        </if>
        <if test='cRwlb!=null and cRwlb!=""'>
            AND T.cRwlb = #{cRwlb}
        </if>
        <if test='cRwday!=null and cRwday!=""'>
            AND T.cRwday = #{cRwday}
        </if>
        <if test='cRwmonth!=null and cRwmonth!=""'>
            AND T.cRwmonth = #{cRwmonth}
        </if>
        <if test='dRwsj!=null and dRwsj!=""'>
            AND T.dRwsj = #{dRwsj}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        <if test='dCjsj!=null and dCjsj!=""'>
            AND T.dCjsj = #{dCjsj}
        </if>
        ORDER BY T.cRwlb DESC
    </select>
    <insert id="insertTGreenRwRwmx" parameterType="com.greenplatform.model.TGreenRwRwmx">
        INSERT INTO t_green_rw_rwmx (cUserid,cRwlb,cRwday,cRwmonth,dRwsj,cBz,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cUserid},#{cRwlb},#{cRwday},#{cRwmonth},#{dRwsj},#{cBz},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delTGreenRwRwmx" parameterType="com.greenplatform.model.TGreenRwRwmx">
        DELETE FROM t_green_rw_rwmx WHERE cUserid = #{cUserid}
    </delete>
    <update id="updTGreenRwRwmx" parameterType="com.greenplatform.model.TGreenRwRwmx">
        UPDATE t_green_rw_rwmx
        <set>
            <if test='cRwlb!=null'>cRwlb = #{cRwlb},</if>
            <if test='cRwday!=null'>cRwday = #{cRwday},</if>
            <if test='cRwmonth!=null'>cRwmonth = #{cRwmonth},</if>
            <if test='dRwsj!=null'>dRwsj = #{dRwsj},</if>
            <if test='cBz!=null'>cBz = #{cBz},</if>
            <if test='cXguser!=null'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cUserid = #{cUserid}
    </update>

    <!--TGreenZzZjzzmx crud-->
    <select id="selectTGreenZzZjzzmx" parameterType="com.greenplatform.model.TGreenZzZjzzmx" resultType="com.greenplatform.model.TGreenZzZjzzmx">
        SELECT T.* FROM t_green_zz_zjzzmx T WHERE 1=1
        <if test='cLsh!=null and cLsh!=""'>
            AND T.cLsh = #{cLsh}
        </if>
        <if test='cUserid!=null and cUserid!=""'>
            AND T.cUserid = #{cUserid}
        </if>
        <if test='cSpbm!=null and cSpbm!=""'>
            AND T.cSpbm = #{cSpbm}
        </if>
        <if test='cZjyy!=null and cZjyy!=""'>
            AND T.cZjyy = #{cZjyy}
        </if>
        <if test='dZjsj!=null and dZjsj!=""'>
            AND T.dZjsj = #{dZjsj}
        </if>
        <if test='cKjz!=null and cKjz!=""'>
            AND T.cKjz = #{cKjz}
        </if>
        <if test='cSfjz!=null and cSfjz!=""'>
            AND T.cSfjz = #{cSfjz}
        </if>
        <if test='dJzsj!=null and dJzsj!=""'>
            AND T.dJzsj = #{dJzsj}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        ORDER BY T.dZjsj DESC
    </select>
    <insert id="insertTGreenZzZjzzmx" parameterType="com.greenplatform.model.TGreenZzZjzzmx">
        INSERT INTO t_green_zz_zjzzmx (cLsh,cUserid,cSpbm,cZjyy,dZjsj,cKjz,cSfjz,dJzsj,cBz,cZt,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cLsh},#{cUserid},#{cSpbm},#{cZjyy},#{dZjsj},#{cKjz},#{cSfjz},#{dJzsj},#{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delTGreenZzZjzzmx" parameterType="com.greenplatform.model.TGreenZzZjzzmx">
        DELETE FROM t_green_zz_zjzzmx WHERE cLsh = #{cLsh}
    </delete>
    <update id="updTGreenZzZjzzmx" parameterType="com.greenplatform.model.TGreenZzZjzzmx">
        UPDATE t_green_zz_zjzzmx
        <set>
            <if test='cRwlb!=null'>cRwlb = #{cRwlb},</if>
            <if test='cSpbm!=null'>cSpbm = #{cSpbm},</if>
            <if test='cZjyy!=null'>cZjyy = #{cZjyy},</if>
            <if test='dZjsj!=null'>dZjsj = #{dZjsj},</if>
            <if test='cKjz!=null'>cKjz = #{cKjz},</if>
            <if test='cSfjz!=null'>cSfjz = #{cSfjz},</if>
            <if test='dJzsj!=null'>dJzsj = #{dJzsj},</if>
            <if test='cBz!=null'>cBz = #{cBz},</if>
            <if test='cZt!=null'>cZt = #{cZt},</if>
            <if test='cXguser!=null'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cLsh = #{cLsh}
    </update>




</mapper>