<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenplatform.dao.SystemDao">

    <!--systemUser crud-->
    <select id="selectSystemuser" resultType="com.greenplatform.model.SystemUser" parameterType="com.greenplatform.model.SystemUser">
        SELECT T.* FROM system_user T WHERE 1=1
        <if test="cUserid!=null">
            AND T.cUserid = #{cUserid}
        </if>
        <if test="cLoginname!=null">
            AND T.cLoginname = #{cLoginname}
        </if>
        <if test="cUsername!=null">
            AND T.cUsername = #{cUsername}
        </if>
        <if test="cPassword!=null">
            AND T.cPassword = #{cPassword}
        </if>
        <if test="cRylb!=null">
            AND T.cRylb = #{cRylb}
        </if>
        <if test="cRyzt!=null">
            AND T.cRyzt = #{cRyzt}
        </if>
        <if test="cZcfs!=null">
            AND T.cZcfs = #{cZcfs}
        </if>
        <if test="cZjhm!=null">
            AND T.cZjhm = #{cZjhm}
        </if>
        <if test="cSex!=null">
            AND T.cSex = #{cSex}
        </if>
        <if test="cPhone!=null">
            AND T.cPhone = #{cPhone}
        </if>
        <if test="cWxhm!=null">
            AND T.cWxhm = #{cWxhm}
        </if>
        <if test="cQq!=null">
            AND T.cQq = #{cQq}
        </if>
        <if test="cEmail!=null">
            AND T.cEmail = #{cEmail}
        </if>
        <if test="cZt!=null">
            AND T.cZt = #{cZt}
        </if>
    </select>
    <insert id="insertSystemUser" parameterType="com.greenplatform.model.SystemUser">
        INSERT INTO system_user (cUserid,cLoginname,cUsername,cPassword,cRylb,
                               cRyzt,cZcfs,cZjlx,cZjhm,cSex,
                               cJtzz,cPhone,cWxhm,cQq,cEmail,
                               cBz,cZt,cCjuser,dCjsj,cXguser
                               ,dXgsj)
        VALUES(#{cUserid},#{cLoginname},#{cUsername},#{cPassword},#{cRylb},
               #{cRyzt},#{cZcfs},#{cZjlx},#{cZjhm},#{cSex},
               #{cJtzz},#{cPhone},#{cWxhm},#{cQq},#{cEmail},
               #{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},
               #{dXgsj})
    </insert>
    <delete id="delSystemuser" parameterType="com.greenplatform.model.SystemUser">
        DELETE FROM system_user WHERE cUserid = #{cUserid}
    </delete>
    <update id="updSystemuser" parameterType="com.greenplatform.model.SystemUser">
        UPDATE system_user
        <set>
            <if test="cUsername != null">cUsername = #{cUsername},</if>
            <if test="cPassword != null">cPassword = #{cPassword},</if>
            <if test="cZjlx != null">cZjlx = #{cZjlx},</if>
            <if test="cZjhm != null">cZjhm = #{cZjhm},</if>
            <if test="cSex != null">cSex = #{cSex},</if>
            <if test="cJtzz != null">cJtzz = #{cJtzz},</if>
            <if test="cPhone != null">cPhone = #{cPhone},</if>
            <if test="cWxhm != null">cWxhm = #{cWxhm},</if>
            <if test="cQq != null">cQq = #{cQq},</if>
            <if test="cXguser != null">cXguser = #{cXguser},</if>
            <if test="dXgsj != null">dXgsj = #{dXgsj},</if>
        </set>
        WHERE cUserid = #{cUserid}
    </update>


    <!--TGreenSpSpmx crud-->
    <select id="selectTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx" resultType="com.greenplatform.model.TGreenSpSpmx">
        SELECT T.* FROM t_green_sp_spmx T WHERE 1=1
        <if test='cSpbh!=null and cSpbh!=""'>
            AND T.cSpbh = #{cSpbh}
        </if>
        <if test='cSpmc!=null and cSpmc!=""'>
            AND T.cSpmc = #{cSpmc}
        </if>
        <if test='cSpms!=null and cSpms!=""'>
            AND T.cSpms = #{cSpms}
        </if>
        <if test='cSpjg!=null and cSpjg!=""'>
            AND T.cSpjg = #{cSpjg}
        </if>
        <if test='cSpdw!=null and cSpdw!=""'>
            AND T.cSpdw = #{cSpdw}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        ORDER BY T.cSpjg DESC
    </select>
    <insert id="insertTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx">
        INSERT INTO t_green_sp_spmx (cSpbh,cSpmc,cSpms,cSpjg,cSpdw,
                                     cBz,cZt,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cSpbh},#{cSpmc},#{cSpms},#{cSpjg},#{cSpdw},
               #{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx">
        DELETE FROM t_green_sp_spmx WHERE cSpbh = #{cSpbh}
    </delete>
    <update id="updTGreenSpSpmx" parameterType="com.greenplatform.model.TGreenSpSpmx">
        UPDATE t_green_sp_spmx
        <set>
            <if test='cSpmc!=null and cSpmc!=""'>cSpmc = #{cSpmc},</if>
            <if test='cSpms!=null and cSpms!=""'>cSpms = #{cSpms},</if>
            <if test='cSpjg!=null and cSpjg!=""'>cSpjg = #{cSpjg},</if>
            <if test='cSpdw!=null and cSpdw!=""'>cSpdw = #{cSpdw},</if>
            <if test='cBz!=null and cBz!=""'>cBz = #{cBz},</if>
            <if test='cZt!=null and cZt!=""'>cZt = #{cZt},</if>
            <if test='cXguser!=null and cXguser!=""'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null and dXgsj!=""'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cSpbh = #{cSpbh}
    </update>

    <!--TGreenNlHz crud-->
    <select id="selectTGreenNlHz" parameterType="com.greenplatform.model.TGreenNlHz" resultType="com.greenplatform.model.TGreenNlHz">
        SELECT T.* FROM t_green_nl_hz T WHERE 1=1
        <if test='cUserid!=null and cUserid!=""'>
            AND T.cUserid = #{cUserid}
        </if>
        <if test='cNlzl!=null and cNlzl!=""'>
            AND T.cNlzl = #{cNlzl}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        ORDER BY T.cNlzl DESC
    </select>
    <insert id="insertTGreenNlHz" parameterType="com.greenplatform.model.TGreenNlHz">
        INSERT INTO t_green_nl_hz (cUserid,cNlzl,cBz,cZt,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cUserid},#{cNlzl},#{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delTGreenNlHz" parameterType="com.greenplatform.model.TGreenNlHz">
        DELETE FROM t_green_nl_hz WHERE cUserid = #{cUserid}
    </delete>
    <update id="updTGreenNlHz" parameterType="com.greenplatform.model.TGreenNlHz">
        UPDATE t_green_nl_hz
        <set>
            <if test='cNlzl!=null and cNlzl!=""'>cNlzl = #{cNlzl},</if>
            <if test='cBz!=null and cBz!=""'>cBz = #{cBz},</if>
            <if test='cZt!=null and cZt!=""'>cZt = #{cZt},</if>
            <if test='cXguser!=null and cXguser!=""'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null and dXgsj!=""'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cUserid = #{cUserid}
    </update>

    <!--TGreenNlZjnlmx crud-->
    <select id="selectTGreenNlZjnlmx" parameterType="com.greenplatform.model.TGreenNlZjnlmx" resultType="com.greenplatform.model.TGreenNlZjnlmx">
        SELECT T.* FROM t_green_nl_zjnlmx T WHERE 1=1
        <if test='cLsh!=null and cLsh!=""'>
            AND T.cLsh = #{cLsh}
        </if>
        <if test='cUserid!=null and cUserid!=""'>
            AND T.cUserid = #{cUserid}
        </if>
        <if test='cZjsl!=null and cZjsl!=""'>
            AND T.cZjsl = #{cZjsl}
        </if>
        <if test='cZjyy!=null and cZjyy!=""'>
            AND T.cZjyy = #{cZjyy}
        </if>
        <if test='cZt!=null and cZt!=""'>
            AND T.cZt = #{cZt}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        ORDER BY T.cZjyy DESC
    </select>
    <insert id="insertTGreenNlZjnlmx" parameterType="com.greenplatform.model.TGreenNlZjnlmx">
        INSERT INTO t_green_nl_zjnlmx (cLsh,cUserid,cZjsl,dZjsj,cZjyy,cBz,cZt,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cLsh},#{cUserid},#{cZjsl},#{dZjsj},#{cZjyy},#{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delTGreenNlZjnlmx" parameterType="com.greenplatform.model.TGreenNlZjnlmx">
        DELETE FROM t_green_nl_zjnlmx WHERE cLsh = #{cLsh}
    </delete>
    <update id="updTGreenNlZjnlmx" parameterType="com.greenplatform.model.TGreenNlZjnlmx">
        UPDATE t_green_nl_zjnlmx
        <set>
            <if test='cZjsl!=null and cZjsl!=""'>cZjsl = #{cZjsl},</if>
            <if test='dZjsj!=null and dZjsj!=""'>dZjsj = #{dZjsj},</if>
            <if test='cZjyy!=null and cZjyy!=""'>cZjyy = #{cZjyy},</if>
            <if test='cBz!=null and cBz!=""'>cBz = #{cBz},</if>
            <if test='cZt!=null and cZt!=""'>cZt = #{cZt},</if>
            <if test='cXguser!=null and cXguser!=""'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null and dXgsj!=""'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cLsh = #{cLsh}
    </update>

    <!--TGreenRwRwmx crud-->
    <select id="selectTGreenRwRwmx" parameterType="com.greenplatform.model.TGreenRwRwmx" resultType="com.greenplatform.model.TGreenRwRwmx">
        SELECT T.* FROM t_green_rw_rwmx T WHERE 1=1
        <if test='cUserid!=null and cUserid!=""'>
            AND T.cUserid = #{cUserid}
        </if>
        <if test='cRwlb!=null and cRwlb!=""'>
            AND T.cRwlb = #{cRwlb}
        </if>
        <if test='cRwsj!=null and cRwsj!=""'>
            AND T.cRwsj = #{cRwsj}
        </if>
        <if test='cLjrwcs!=null and cLjrwcs!=""'>
            AND T.cLjrwcs = #{cLjrwcs}
        </if>
        <if test='cCjuser!=null and cCjuser!=""'>
            AND T.cCjuser = #{cCjuser}
        </if>
        ORDER BY T.cRwlb DESC
    </select>
    <insert id="insertTGreenRwRwmx" parameterType="com.greenplatform.model.TGreenRwRwmx">
        INSERT INTO t_green_rw_rwmx (cUserid,cRwlb,cRwsj,cLjrwcs,cBz,cCjuser,dCjsj,cXguser,dXgsj)
        VALUES(#{cUserid},#{cRwlb},#{cRwsj},#{cLjrwcs},#{cBz},#{cCjuser},#{dCjsj},#{cXguser},#{dXgsj})
    </insert>
    <delete id="delTGreenRwRwmx" parameterType="com.greenplatform.model.TGreenRwRwmx">
        DELETE FROM t_green_rw_rwmx WHERE cUserid = #{cUserid}
    </delete>
    <update id="updTGreenRwRwmx" parameterType="com.greenplatform.model.TGreenRwRwmx">
        UPDATE t_green_rw_rwmx
        <set>
            <if test='cRwlb!=null and cRwlb!=""'>cRwlb = #{cRwlb},</if>
            <if test='cRwsj!=null and cRwsj!=""'>cRwsj = #{cRwsj},</if>
            <if test='cLjrwcs!=null and cLjrwcs!=""'>cLjrwcs = #{cLjrwcs},</if>
            <if test='cBz!=null and cBz!=""'>cBz = #{cBz},</if>
            <if test='cXguser!=null and cXguser!=""'>cXguser = #{cXguser},</if>
            <if test='dXgsj!=null and dXgsj!=""'>dXgsj = #{dXgsj}</if>
        </set>
        WHERE cUserid = #{cUserid}
    </update>




</mapper>