<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenplatform.dao.SystemDao">

    <!--systemUser crud-->
    <select id="selectSystemuser" resultType="com.greenplatform.model.SystemUser" parameterType="com.greenplatform.model.SystemUser">
        SELECT T.* FROM system_user T WHERE 1=1
        <if test="cUserid!=null">
            AND T.cUserid = #{cUserid}
        </if>
        <if test="cLoginname!=null">
            AND T.cLoginname = #{cLoginname}
        </if>
        <if test="cUsername!=null">
            AND T.cUsername = #{cUsername}
        </if>
        <if test="cPassword!=null">
            AND T.cPassword = #{cPassword}
        </if>
        <if test="cRylb!=null">
            AND T.cRylb = #{cRylb}
        </if>
        <if test="cRyzt!=null">
            AND T.cRyzt = #{cRyzt}
        </if>
        <if test="cZcfs!=null">
            AND T.cZcfs = #{cZcfs}
        </if>
        <if test="cZjhm!=null">
            AND T.cZjhm = #{cZjhm}
        </if>
        <if test="cSex!=null">
            AND T.cSex = #{cSex}
        </if>
        <if test="cPhone!=null">
            AND T.cPhone = #{cPhone}
        </if>
        <if test="cWxhm!=null">
            AND T.cWxhm = #{cWxhm}
        </if>
        <if test="cQq!=null">
            AND T.cQq = #{cQq}
        </if>
        <if test="cEmail!=null">
            AND T.cEmail = #{cEmail}
        </if>
        <if test="cZt!=null">
            AND T.cZt = #{cZt}
        </if>
    </select>
    <insert id="insertSystemUser" parameterType="com.greenplatform.model.SystemUser">
        INSERT INTO system_user (cUserid,cLoginname,cUsername,cPassword,cRylb,
                               cRyzt,cZcfs,cZjlx,cZjhm,cSex,
                               cJtzz,cPhone,cWxhm,cQq,cEmail,
                               cBz,cZt,cCjuser,dCjsj,cXguser
                               ,dXgsj)
        VALUES(#{cUserid},#{cLoginname},#{cUsername},#{cPassword},#{cRylb},
               #{cRyzt},#{cZcfs},#{cZjlx},#{cZjhm},#{cSex},
               #{cJtzz},#{cPhone},#{cWxhm},#{cQq},#{cEmail},
               #{cBz},#{cZt},#{cCjuser},#{dCjsj},#{cXguser},
               #{dXgsj})
    </insert>
    <delete id="delSystemuser" parameterType="com.greenplatform.model.SystemUser">
        DELETE FROM system_user WHERE cUserid = #{cUserid}
    </delete>
    <update id="updSystemuser" parameterType="com.greenplatform.model.SystemUser">
        UPDATE system_user
        <set>
            <if test="cUsername != null">cUsername = #{cUsername},</if>
            <if test="cPassword != null">cPassword = #{cPassword},</if>
            <if test="cZjlx != null">cZjlx = #{cZjlx},</if>
            <if test="cZjhm != null">cZjhm = #{cZjhm},</if>
            <if test="cSex != null">cSex = #{cSex},</if>
            <if test="cJtzz != null">cJtzz = #{cJtzz},</if>
            <if test="cPhone != null">cPhone = #{cPhone},</if>
            <if test="cWxhm != null">cWxhm = #{cWxhm},</if>
            <if test="cQq != null">cQq = #{cQq},</if>
            <if test="cXguser != null">cXguser = #{cXguser},</if>
            <if test="dXgsj != null">dXgsj = #{dXgsj},</if>
        </set>
        WHERE cUserid = #{cUserid}
    </update>




</mapper>